<section class="section-about-restaurant">
  <div class="container">
    <h2 hidden class="visually-hidden">About our restaurant</h2>
    <p class="about-restaurant-pre-tittle">Amet minim mollit non</p>
    <p class="about-restaurant-logo">MIMIHO</p>
    <div class="about-restaurant-content">
      <p class="about-restaurant-information">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <picture class="about-restaurant-photo" width="460" height="322">
        <source
          srcset="
            ./images/desktop/homepage/restaurant-interior.jpg    1x,
            ./images/desktop/homepage/restaurant-interior-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/homepage/restaurant-interior-tab.jpg    1x,
            ./images/tablet/homepage/restaurant-interior-2x-tab.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/mobile/homepage/restaurant-interior-mob.jpg    1x,
            ./images/mobile/homepage/restaurant-interior-2x-mob.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          src="./images/mobile/homepage/restaurant-interior-mob.jpg"
          alt="restaurant-interior"
          class="about-restaurant-interior"
        />
      </picture>
    </div>
    <div class="about-restaurant-content tables">
      <picture class="about-restaurant-photo" width="460" height="278">
        <source
          srcset="
            ./images/desktop/homepage/restaurant-tables.jpg    1x,
            ./images/desktop/homepage/restaurant-tables-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/homepage/restaurant-tables-tab.jpg    1x,
            ./images/tablet/homepage/restaurant-tables-2x-tab.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/mobile/homepage/restaurant-tables-mob.jpg    1x,
            ./images/mobile/homepage/restaurant-tables-2x-mob.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          src="./images/mobile/homepage/restaurant-tables-mob.jpg"
          alt="restaurant-tables"
          class="about-restaurant-tables"
        />
      </picture>

      <p class="about-restaurant-information information">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="slider-wrap">
      <div class="multiple-items">
        <div class="subdiv">
          <div class="slider-item">
            <picture class="slider-picture-set">
              <source
                srcset="
                  ./images/desktop/restaurant/cooking.jpg,
                  ./images/desktop/restaurant/cooking-2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/restaurant/cooking-tab.jpg,
                  ./images/tablet/restaurant/cooking-2x-tab.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/reasturant/cooking-mob.jpg,
                  ./images/mobile/reasturant/cooking-2x-mob.jpg
                "
                media="(min-width: 414px)"
              />
              <img
                class="appartment"
                src="./images/desktop/restaurant/cooking.jpg"
                alt="studio appartment"
                width="460"
              />
            </picture>
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <picture class="slider-picture-set">
              <source
                srcset="
                  ./images/desktop/restaurant/dish.jpg,
                  ./images/desktop/restaurant/dish-2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/restaurant/dish-tab.jpg,
                  ./images/tablet/restaurant/dish-2x-tab.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/tablet/restaurant/dish-tab.jpg,
                  ./images/tablet/restaurant/dish-2x-tab.jpg
                "
                media="(min-width: 414px)"
              />
              <img
                class="appartment"
                src="./images/desktop/restaurant/dish.jpg"
                alt="studio appartment"
                width="460"
              />
            </picture>
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <picture class="slider-picture-set">
              <source
                srcset="
                  ./images/desktop/sliders/breakfast.jpg,
                  ./images/desktop/sliders/breakfast-2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/sliders/breakfast-tab.jpg,
                  ./images/tablet/sliders/breakfast-2x-tab.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/sliders/breakfast-mob.jpg,
                  ./images/mobile/sliders/breakfast-2x-mob.jpg
                "
                media="(min-width: 414px)"
              />
              <img
                class="appartment"
                src="./images/desktop/sliders/breakfast.jpg"
                alt="studio appartment"
                width="460"
              />
            </picture>
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <picture class="slider-picture-set">
              <source
                srcset="
                  ./images/desktop/sliders/cafe.jpg,
                  ./images/desktop/sliders/cafe-2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/sliders/cafe-tab.jpg,
                  ./images/tablet/sliders/cafe-2x-tab.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/sliders/cafe-mob.jpg,
                  ./images/mobile/sliders/cafe-mob.jpg
                "
                media="(min-width: 414px)"
              />
              <img
                class="appartment"
                src="./images/desktop/sliders/cafe.jpg"
                alt="studio appartment"
                width="460"
              />
            </picture>
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <picture class="slider-picture-set">
              <source
                srcset="
                  ./images/desktop/sliders/lunch.jpg,
                  ./images/desktop/sliders/lunch-2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/sliders/lunch-tab.jpg,
                  ./images/tablet/sliders/lunch-2x-tab.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/sliders/lunch-mob.jpg,
                  ./images/mobile/sliders/lunch-2x-mob.jpg
                "
                media="(min-width: 414px)"
              />
              <img
                class="appartment"
                src="./images/desktop/sliders/lunch.jpg"
                alt="studio appartment"
                width="460"
              />
            </picture>
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <picture class="slider-picture-set">
              <source
                srcset="
                  ./images/desktop/sliders/dinner.jpg,
                  ./images/desktop/sliders/dinner-2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/sliders/dinner-tab.jpg,
                  ./images/tablet/sliders/dinner-2x-tab.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/sliders/dinner-mob.jpg,
                  ./images/mobile/sliders/dinner-2x-mob.jpg
                "
                media="(min-width: 414px)"
              />
              <img
                class="appartment"
                src="./images/desktop/sliders/dinner.jpg"
                alt="studio appartment"
                width="460"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
