
<section class="section">
<div class="container">
<h2 hidden class="visually-hidden">About our restaurant</h2>
<p class="about-pre-tittle">Amet minim mollit non</p>
<h2 class="about-tittle">MIMIHO</h2>
<ul class="about-list list">
<li class="abou-item item">
<p class="about-text">
Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
</p>
<img src="./images/mobile/homepage/restaurant-interior-mob.jpg" alt="restaurant-interior" width="244" height="322" class="restaurant interior">
</li>
<li class="abou-item tables">
<img src="./images/mobile/homepage/restaurant-tables-mob.jpg" alt="restaurant-tables" width="200" height="278" class="restaurant">
<p class="about-text text">
Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
</p>
</li>
</ul>
<div class="slider">
<img src="./images/mobile/homepage/dinner-mob.jpg" alt="dinner" width="245" height="245" class="restaurant">
</div>
</div>
</section>

