<div class="box">HERO</div>
<section class="section">
<div class="container">
<h2 hidden class="visually-hidden">About our restaurant</h2>
<p class="about-pre-tittle">Amet minim mollit non</p>
<h2 class="about-logo">MIMIHO</h2>
<div class="about-content">
<p class="about-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
</p>

<picture width="460" height="322">
                <source srcset="./images/desktop/homepage/restaurant-interior.jpg 1x, ./images/desktop/homepage/restaurant-interior-2x.jpg 2x" media="(min-width: 1280px)">
                <source srcset="./images/tablet/homepage/restaurant-interior-tab.jpg 1x, ./images/tablet/homepage/restaurant-interior-2x-tab.jpg 2x" media="(min-width: 1024px)">
                <source srcset="./images/mobile/homepage/restaurant-interior-mob.jpg 1x, ./images/mobile/homepage/restaurant-interior-2x-mob.jpg 2x" media="(min-width: 414px)">
                <img src="./images/mobile/homepage/restaurant-interior-mob.jpg" alt="restaurant-interior" class="restaurant interior">
</picture>
</div>
<div class="about-content tables">
<picture width="460" height="278">
                <source srcset="./images/desktop/homepage/restaurant-tables.jpg 1x, ./images/desktop/homepage/restaurant-tables-2x.jpg 2x"
                media="(min-width: 1280px)">
                <source srcset="./images/tablet/homepage/restaurant-tables-tab.jpg 1x, ./images/tablet/homepage/restaurant-tables-2x-tab.jpg 2x"
                media="(min-width: 1024px)">
                <source srcset="./images/mobile/homepage/restaurant-tables-mob.jpg 1x, ./images/mobile/homepage/restaurant-tables-2x-mob.jpg 2x"
                media="(min-width: 414px)">
                <img src="./images/mobile/homepage/restaurant-tables-mob.jpg" alt="restaurant-tables" 
                class="restaurant">
</picture>

<p class="about-text text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
</p>
</div>
<div class="your-class">
                <div>your content</div>
                <div>your content</div>
                <div>your content</div>
</div>
</div>
</section>

