<section>
  <h2 class="visually-hidden">About our hotel</h2>
  <h3>Amet minim mollit non</h3>
  <h4>mimino</h4>
  <p>
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <img
    src="/src/images/mobile/homepage/modern-apartment-with-bedroom-mob.jpg"
    alt="апартаменти"
    width="244"
  />
  <p>
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <img
    src="/src/images/mobile/homepage/hotel-hall-mob.jpg"
    alt="хол в готелі"
    width="200"
  />
  <ul>
    <li>
      <picture>
        <source
          srcset="./images/demianenko.jpg 1x, ./images/demianenko-2x.jpg 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/demianenko-tab.jpg    1x,
            ./images/demianenko-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /src/images/mobile/homepage/   1x,
            ./images/demianenko-mob-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="/src/images/mobile/homepage/hotel-registration-mob.jpg"
          alt="реєстрація"
          width="245"
        />
      </picture>
    </li>
    <li>
      <picture>
        <source
          srcset="./images/demianenko.jpg 1x, ./images/demianenko-2x.jpg 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/demianenko-tab.jpg    1x,
            ./images/demianenko-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/demianenko-mob.jpg    1x,
            ./images/demianenko-mob-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/demianenko-mob.jpg"
          alt="фото Ігор Дем'яненко дизайнер продукту"
          width="450"
        />
      </picture>
    </li>
  </ul>
</section>
