<section class="section-contact container">
  <div class="left-colum">
    <a class="logo-contact link" href="./hotel.html">MIMIHO</a>

    <p class="contact-sub-text">Ресторанно-готельний комплекс</p>

    <address>
      <ul class="list">
        <li class="row-restoran">
          <p class="contact-item">Ресторан</p>

          <div class="area-restoran">
            <a class="link number-restoran" href="tel:+380955559533">
              <svg class="svg-phone" width="24" height="24">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              095 555 95 33</a
            >
          </div>
        </li>

        <li class="row-hotel">
          <p class="contact-item">Готель</p>
          <div class="area-hotel">
            <svg class="svg-phone" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            <a class="number-hotel link" href="tel:+380668491089">
              066 849 10 89</a
            >
            <a class="number-hotel2 link" href="tel:+380672758540">
              067 275 85 40</a
            >
          </div>
        </li>

        <li class="adress">
          <ul class="list adress-wrap">
            <li>
              <svg class="location-icon" width="24" height="24">
                <use href="./images/icons.svg#icon-location"></use>
              </svg>
            </li>
            <li><p>Україна, м. Полтава, вул. Маршала Бірюзова, 15</p></li>
          </ul>
        </li>
      </ul>
    </address>
  </div>
  <div class="right-colum">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d76719.24686806151!2d34.48982036653881!3d49.5993476746982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e1!3m2!1sru!2sua!4v1670855303371!5m2!1sru!2sua"
      width="374"
      height="220"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <!-- <picture>
    <source
      srcset="
        ./images/desctop/team/card1.jpg    1x,
        ./images/desctop/team/card1-2x.jpg 2x
      "
      media="(min-width: 1200px)"
    />

    <source
      srcset="
        ./images/tab/team/card1-tab.jpg    1x,
        ./images/tab/team/card1-tab-2x.jpg 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        ./images/mob/team/card1-mob.jpg    1x,
        ./images/mob/team/card1-mob-2x.jpg 2x
      "
      media="(min-width: 480px)"
    />

    <img
      src="./images/desctop/team/card1.jpg"
      alt="фото Дем'яненко"
      width="450"
    />
  </picture> -->
</section>
