<section class="section-contact container">
  <span class="logo">mimino</span>

  <p class="contact-sub-text">Ресторанно-готельний комплекс</p>

  <address>
    <ul class="list">
      <li class="row-restoran">
        <p class="contact-item">Ресторан</p>

        <div class="area-restoran">
          <a class="link number-restoran" href="tel:+380955559533">
            <svg class="svg-phone" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            095 555 95 33</a
          >
        </div>
      </li>

      <li class="row-hotel">
        <p class="contact-item">Готель</p>
        <div class="area-hotel">
          <svg class="svg-phone" width="24" height="24">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
          <a class="number-hotel link" href="tel:+380668491089">
            066 849 10 89</a
          >
          <a class="number-hotel2 link" href="tel:+380672758540">
            067 275 85 40</a
          >
        </div>

        <!-- <ul class="list number-hotel-list">
          <li>
            <svg class="svg-phone" width="24" height="24">
              <use href="./images/icons.svg#icon-phone"></use>
            </svg>
            <a class="number-hotel link" href="tel:+380668491089">
              066 849 10 89</a
            >
          </li>
          <li>
            <a class="number-hotel link" href="tel:+380672758540">
              067 275 85 40</a
            >
          </li>
        </ul> -->
      </li>

      <li class="adress">
        <p>Україна, м. Полтава, вул. Маршала Бірюзова, 15</p>
      </li>
    </ul>
  </address>
  <!-- <img src="" alt=""> -->
</section>
