<!--<section class="hotel-details">
  <div class="container">
    <div class="hotel-details-box">
      <div class="details-head">
        <p class="hotel-details-logo">Mimino</p>
        <h2 class="hotel-details-title">Готель</h2>
        <p class="hotel-details-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <div class="slider-wrap">
        <div class="multiple-items">
          <div class="subdiv">
            <div class="slider-item">
              <picture class="slider-picture-set">
                <source
                  srcset="
                    ./images/desktop/homepage/breakfast.jpg,
                    ./images/desktop/homepage/breakfast-2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/tablet/homepage/breakfast-tab.jpg,
                    ./images/tablet/homepage/breakfast-2x-tab.jpg
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/mobile/homepage/breakfast-mob.jpg,
                    ./images/mobile/homepage/breakfast-2x-mob.jpg
                  "
                  media="(min-width: 414px)"
                />
                <img
                  class="appartment"
                  src="./images/desktop/homepage/breakfast.jpg"
                  alt="studio appartment"
                  width="460"
                />
              </picture>
            </div>
          </div>

          <div class="subdiv">
            <div class="slider-item">
              <picture class="slider-picture-set">
                <source
                  srcset="
                    ./images/desktop/homepage/breakfast.jpg,
                    ./images/desktop/homepage/breakfast-2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/tablet/tablet/breakfast-tab.jpg,
                    ./images/tablet/tablet/breakfast-2x-tab.jpg
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/mobile/mobile/breakfast-mob.jpg,
                    ./images/mobile/mobile/breakfast-2x-mob.jpg
                  "
                  media="(min-width: 414px)"
                />
                <img
                  class="appartment"
                  src="./images/desktop/homepage/breakfast.jpg"
                  alt="studio appartment"
                  width="460"
                />
              </picture>
            </div>
          </div>
          <div class="subdiv">
            <div class="slider-item">
              <picture class="slider-picture-set">
                <source
                  srcset="
                    ./images/desktop/homepage/hotel-room.jpg,
                    ./images/desktop/homepage/hotel-room-2x.jpg
                  "
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                    ./images/tablet/homepage/hotel-room-tab.jpg,
                    ./images/tablet/homepage/hotel-room-2x-tab.jpg
                  "
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                    ./images/mobile/homepage/hotel-room-mob.jpg,
                    ./images/mobile/homepage/hotel-room-2x-mob.jpg
                  "
                  media="(min-width: 414px)"
                />
                <img
                  class="appartment"
                  src="./images/desktop/homepage/hotel-room.jpg"
                  alt="studio appartment"
                  width="460"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
      -->
<!--
      <div class="slider">
        <div class="slider-item">
          <picture class="details-reception">
            <source
              srcset="
                ./images/desktop/homepage/reception.jpg    1x,
                ./images/desktop/homepage/reception-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/tablet/homepage/reception-tab.jpg    1x,
                ./images/tablet/homepage/reception-2x-tab.jpg 2x
              "
              media="(min-width:1024px)"
            />
            <source
              srcset="
                ./images/tablet/homepage/reception-tab.jpg    1x,
                ./images/tablet/homepage/reception-2x-tab.jpg 2x
              "
              media="(min-width:414px)"
            />
            <img
              src="./images/tablet/homepage/reception-tab.jpg"
              class="hotel-details-img"
              alt="Рецепшен готелю"
              width="270"
              height="270"
            />
          </picture>
        </div>

        <div class="slider-item">
          <picture class="details-breakfast">
            <source
              srcset="
                ./images/desktop/homepage/breakfast.jpg    1x,
                ./images/desktop/homepage/breakfast-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/tablet/homepage/breakfast-tab.jpg    1x,
                ./images/tablet/homepage/breakfast-2x-tab.jpg 2x
              "
              media="(min-width:1024px)"
            />
            <source
              srcset="
                ./images/tablet/homepage/breakfast-tab.jpg    1x,
                ./images/tablet/homepage/breakfast-2x-tab.jpg 2x
              "
              media="(min-width:414px)"
            />
            <img
              src="./images/tablet/homepage/breakfast-2x-tab.jpg "
              class="img"
              alt="Сніданок"
              width="162"
              height="270"
            />
          </picture>
        </div>

      
        <div class="slider-item">
          <picture class="details-hotel-room">
            <source
              srcset="
                ./images/desktop/homepage/hotel-room.jpg    1x,
                ./images/desktop/homepage/hotel-room-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/tablet/homepage/hotel-room-tab.jpg    1x,
                ./images/tablet/homepage/hotel-room-2x-tab.jpg 2x
              "
              media="(min-width:1024px)"
            />
            <source
              srcset="
                ./images/tablet/homepage/hotel-room-tab.jpg    1x,
                ./images/tablet/homepage/hotel-room-2x-tab.jpg 2x
              "
              media="(min-width:414px)"
            />
            <img
              src="./images/tablet/homepage/hotel-room-2x-tab.jpg"
              class="img"
              alt="Номер готелю"
              width="270"
              height="270"
            />
          </picture>
        </div>
      </div>-->

<!--
    </div>

    <div class="button-set">
      <button class="btn-light" type="button" data-modal-book-room-open>
        Забронювати номер
      </button>
      <a class="btn-light link" href="./hotel.html">Переглянути ціни</a>
    </div>
  </div>
</section>
-->
