  <section class="hotel-details cotainer">
        <div class="hotel-details-box">
            <div class="details-head">
              <h1 class="logo">Mimino</h1>
              <h2>Готель</h2>
              <p class="hotel-details-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
              </p>
            </div>
            <div class="slider">
              <div class="slider-item">
                <picture class="details-reception">
                  <source
                    srcset="
                      ./images/desktop/homepage/reception.jpg    1x,
                      ./images/desktop/homepage/reception-2x.jpg 2x
                    "
                    media="(min-width:1280px)"
                  />
                  <source
                    srcset="
                      ./images/tablet/homepage/reception-tab.jpg    1x,
                      ./images/tablet/homepage/reception-2x-tab.jpg 2x
                    "
                    media="(min-width:1024px)"
                  />
                  <source
                    srcset="
                      ./images/tablet/homepage/reception-tab.jpg    1x,
                      ./images/tablet/homepage/reception-2x-tab.jpg 2x
                    "
                    media="(min-width:414px)"
                  />
                  <img
                    src="./images/tablet/homepage/reception-tab.jpg"
                    class="img"
                    alt="Рецепшен готелю"
                    width="270"
                    height="270"
                  />
                </picture>
              </div>
              <div class="slider-item">
                <picture class="details-breakfast">
                  <source
                    srcset="
                      ./images/desktop/homepage/breakfast.jpg    1x,
                      ./images/desktop/homepage/breakfast-2x.jpg 2x
                    "
                    media="(min-width:1280px)"
                  />
                  <source
                    srcset="
                      ./images/tablet/homepage/breakfast-tab.jpg    1x,
                      ./images/tablet/homepage/breakfast-2x-tab.jpg 2x
                    "
                    media="(min-width:1024px)"
                  />
                  <source
                    srcset="
                      ./images/tablet/homepage/breakfast-tab.jpg    1x,
                      ./images/tablet/homepage/breakfast-2x-tab.jpg 2x
                    "
                    media="(min-width:414px)"
                  />
                  <img
                    src="./images/tablet/homepage/breakfast-2x-tab.jpg "
                    class="img"
                    alt="Сніданок"
                    width="162"
                    height="270"
                  />
                </picture>
              </div>
              <div class="slider-item">
                <picture class="details-hotel-room">
                  <source
                    srcset="
                      ./images/desktop/homepage/hotel-room.jpg    1x,
                      ./images/desktop/homepage/hotel-room-2x.jpg 2x
                    "
                    media="(min-width:1280px)"
                  />
                  <source
                    srcset="
                      ./images/tablet/homepage/hotel-room-tab.jpg    1x,
                      ./images/tablet/homepage/hotel-room-2x-tab.jpg 2x
                    "
                    media="(min-width:1024px)"
                  />
                  <source
                    srcset="
                      ./images/tablet/homepage/hotel-room-tab.jpg    1x,
                      ./images/tablet/homepage/hotel-room-2x-tab.jpg 2x
                    "
                    media="(min-width:414px)"
                  />
                  <img
                    src="./images/tablet/homepage/hotel-room-2x-tab.jpg"
                    class="img"
                    alt="Номер готелю"
                    width="270"
                    height="270"
                  />
                </picture>
            </div>
            </div>
          </div>
          <div class="button-set">
            <button class="btn-light" type="button">Забронювати номер</button>
            <a class="btn-light link" href="#">Переглянути ціни</a>
          </div>
        </section>
