<section class="hero hero__container">
  <!-- <div class="container"> -->
  <h1 class="hero__title animate__animated animate__fadeIn">Mimiho</h1>
  <h2 class="hero__undertitile">Ресторанно-готельний комплекс</h2>
  <p class="hero__text">СМАК ЖИТТЯ 24/7</p>
  <button class="hero__btn" type="button">Забронювати столик</button>
  <button class="hero__btn" type="button">Забронювати номер</button>
  <ul class="hero__list list">
    <li class="hero__item">
      <a
        class="hero__link"
        href="#"
        target="_blank"
        rel="noonepener noreferrer nofollow"
        ><svg class="hero__icon" width="22" height="22">
          <use href="./images/icons.svg#icon-instagram"></use></svg
      ></a>
    </li>
    <li class="hero__item">
      <a
        class="hero__link"
        href="#"
        target="_blank"
        rel="noonepener noreferrer nofollow"
        ><svg class="hero__icon" width="22" height="22">
          <use href="./images/icons.svg#icon-facebook"></use></svg
      ></a>
    </li>
    <li class="hero__item">
      <a
        class="hero__link"
        href="#"
        target="_blank"
        rel="noonepener noreferrer nofollow"
        ><svg class="hero__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-telegram"></use></svg
      ></a>
    </li>
  </ul>
  <!-- </div> -->
</section>
