<section class="main-hero hero__container">
  <h1 class="main-hero__title animate__animated animate__fadeIn">Mimiho</h1>
  <h2 class="main-hero__undertitile">Ресторанно-готельний комплекс</h2>
  <p class="main-hero__text">смак життя 24/7</p>
  <button class="hero__btn" type="button">Забронювати столик</button>
  <button class="hero__btn" type="button">Забронювати номер</button>
  <a href="https://goo.gl/maps/LaFmuFMGUwHTDL4Q6" class="main-hero__adress link"
    ><svg class="header-icon-check" width="20" height="22">
      <use href="./images/icons.svg#icon-location"></use>
    </svg>
    Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
  >
  <ul class="main-hero__list list">
    <li class="main-hero__item">
      <a
        class="main-hero__link"
        href="#"
        target="_blank"
        rel="noonepener noreferrer nofollow"
        ><svg class="hero__icon" width="22" height="22">
          <use href="./images/icons.svg#icon-instagram"></use></svg
      ></a>
    </li>
    <li class="main-hero__item">
      <a
        class="main-hero__link"
        href="#"
        target="_blank"
        rel="noonepener noreferrer nofollow"
        ><svg class="hero__icon" width="22" height="22">
          <use href="./images/icons.svg#icon-facebook"></use></svg
      ></a>
    </li>
    <li class="main-hero__item">
      <a
        class="main-hero__link"
        href="#"
        target="_blank"
        rel="noonepener noreferrer nofollow"
        ><svg class="hero__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-telegram"></use></svg
      ></a>
    </li>
  </ul>
</section>
