<section class="amenities">
    <div class="amenities__container container">
        <div class="amenities__main-block">
            <ul class="amenities__list list">
                <li class="amenities__item">
                    <article class="amenities__article-block">
                        <a class="amenities__link link" href="#">
                            <h1 class="amenities__title">зручності у номері</h1>
                            <p class="amenities__text-title">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                                Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                            </p>
                        </a>
                    </article>
                </li>
                <li class="amenities__item">
                    <article class="amenities__article-block">
                        <a class="amenities__link link" href="#">
                            <p style="width: 43px;"></p>
                        </a>
                    </article>
                </li>
                <li class="amenities__item">
                    <article class="amenities__article-block">
                        <a class="amenities__link link" href="#">
                            <h2 class="amenities__subtitle">загальні</h2>
                            <p class="amenities__text">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                                Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt
                                nostrud amet.
                            </p>
                        </a>
                    </article>
                </li>
                <li class="amenities__item">
                    <article class="amenities__article-block">
                        <a class="amenities__link link" href="#">
                            <p class="amenities__text">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                                Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt
                                nostrud amet.
                            </p>
                        </a>
                    </article>
                </li>
                <li class="amenities__item">
                    <article class="amenities__article-block">
                        <a class="amenities__link link" href="#">
                            <h2 class="amenities__subtitle">ванна кімната</h2>
                            <p class="amenities__text">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                                Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt
                                nostrud amet.
                            </p>
                        </a>
                    </article>
                </li>
                <li class="amenities__item">
                    <article class="amenities__article-block">
                        <a class="amenities__link link" href="#">
                            <p class="amenities__text">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                                Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt
                                nostrud amet.
                            </p>
                        </a>
                    </article>
                </li>
                <li class="amenities__item">
                    <article class="amenities__article-block">
                        <a class="amenities__link link" href="#">
                            <h2 class="amenities__subtitle">спальня</h2>
                            <p class="amenities__text">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            </p>
                        </a>
                    </article>
                </li>
                <li class="amenities__item">
                    <article class="amenities__article-block">
                        <a class="amenities__link link" href="#">
                            <p class="amenities__text"></p>
                        </a>
                    </article>
                </li>
                <li class="amenities__item">
                    <article class="amenities__article-block">
                        <a class="amenities__link link" href="#">
                            <h2 class="amenities__subtitle">кухня</h2>
                            <p class="amenities__text">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            </p>
                        </a>
                    </article>
                </li>
                <li class="amenities__item">
                    <article class="amenities__article-block">
                        <a class="amenities__link link" href="#">
                            <p class="amenities__text">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            </p>
                        </a>
                    </article>
                </li>
                <li class="amenities__item">
                    <article class="amenities__article-block">
                        <a class="amenities__link link" href="#">
                            <h2 class="amenities__subtitle">медіа</h2>
                            <p class="amenities__text">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                                Velit officia consequat duis enim velit mollit.
                            </p>
                        </a>
                    </article>
                </li>
                <li class="amenities__item">
                    <article class="amenities__article-block">
                        <a class="amenities__link link" href="#">
                            <p class="amenities__text"></p>
                        </a>
                    </article>
                </li>
            </ul>
        </div>
        <div class="amenities__block">
            <button class="amenities__button btn" name="submit_button" type="button" data-modal-open>оформити бронювання</button>
            <a class="amenities__main-link link" href="#">
                <span class="amenities__text-link">Повернутися до перегляду номерів</span>
                <svg class="amenities__icon" width="30" height="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.5595 0L20.1409 1.42865L26.1595 7.48984H0V9.51036H26.1594L20.1409 15.5713L21.5595 17L30 8.5L21.5595 0Z"/>
                </svg>
            </a>
        </div>
    </div>
</section>