<section class="room-hero container">
  <div class="one-time">
    <div>
      <h3>Lorem ipsum dolor sit amet.</h3>
    </div>
    <div><h3>Lorem ipsum dolor sit amet.</h3></div>
    <div><h3>Lorem ipsum dolor sit amet.</h3></div>
    <div><h3>Lorem ipsum dolor sit amet.</h3></div>
    <div><h3>Lorem ipsum dolor sit amet.</h3></div>
    <div><h3>Lorem ipsum dolor sit amet.</h3></div>
  </div>
  <div class="room-hero-slider">
    <svg class="room-hero__arrow" width="22" height="22">
      <use href="./images/icons.svg#icon-phone"></use>
    </svg>
    <svg class="room-hero__arrow" width="22" height="22">
      <use href="./images/icons.svg#icon-phone"></use>
    </svg>
  </div>
  <div class="room-hero__wrap">
    <h2>Двомісний номер<span class="room-hero__span">люкс</span></h2>
    <p>
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <button class="btn-light room-hero__btn" type="button">
      Переглянути ціни
    </button>
  </div>
  <a href="https://goo.gl/maps/LaFmuFMGUwHTDL4Q6" class="room-hero__adress link"
    ><svg class="header-icon-check" width="24" height="24">
      <use href="./images/icons.svg#icon-location"></use>
    </svg>
    Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
  >
  <ul class="room-hero__list list">
    <li class="room-hero__item">
      <a
        class="room-hero__link"
        href="#"
        target="_blank"
        rel="noonepener noreferrer nofollow"
        ><svg class="room-hero__icon" width="22" height="22">
          <use href="./images/icons.svg#icon-instagram"></use></svg
      ></a>
    </li>
    <li class="room-hero__item">
      <a
        class="room-hero__link"
        href="#"
        target="_blank"
        rel="noonepener noreferrer nofollow"
        ><svg class="room-hero__icon" width="22" height="22">
          <use href="./images/icons.svg#icon-facebook"></use></svg
      ></a>
    </li>
    <li class="room-hero__item">
      <a
        class="room-hero__link"
        href="#"
        target="_blank"
        rel="noonepener noreferrer nofollow"
        ><svg class="room-hero__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-telegram"></use></svg
      ></a>
    </li>
  </ul>
</section>
