<section class="room-hero container">
  <!--
  <h2 class="room-hero__title">
    Двомісний номер
    <span class="room-hero__span">люкс</span>
  </h2>
  <p class="room-hero__text">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <div class="room-hero__wrap">
    <div class="room-hero__align">
      <a
        href="https://goo.gl/maps/LaFmuFMGUwHTDL4Q6"
        class="room-hero__adress link"
        ><svg class="header-icon-check" width="24" height="24">
          <use href="./images/icons.svg#icon-location"></use>
        </svg>
        Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
      >
      <ul class="room-hero__list list">
        <li class="room-hero__item">
          <a
            class="room-hero__link"
            href="#"
            target="_blank"
            rel="noonepener noreferrer nofollow"
            ><svg class="room-hero__icon" width="22" height="22">
              <use href="./images/icons.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="room-hero__item">
          <a
            class="room-hero__link"
            href="#"
            target="_blank"
            rel="noonepener noreferrer nofollow"
            ><svg class="room-hero__icon" width="22" height="22">
              <use href="./images/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="room-hero__item">
          <a
            class="room-hero__link"
            href="#"
            target="_blank"
            rel="noonepener noreferrer nofollow"
            ><svg class="room-hero__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-telegram"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <button
      class="btn-light room-hero__btn"
      type="button"
      data-modal-room-price-open
    >
      Переглянути ціни
    </button>
  </div>
--></section>
