@import '~node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Logofont';
  src: url(../fonts/FilmP3Bold.ttf);
}

@font-face {
  font-family: 'Timesstand';
  src: url(../fonts/TimesNewRomanMTStd.ttf);
}

@font-face {
  font-family: 'Timesbold';
  src: url(../fonts/TimesNewRomanMTStd-Bold.ttf);
}

body {
  font-family: var(--primary-fonts);
  color: var(--color-text-primary);
  background-color: var(--primary-bg-color);
  letter-spacing: 0.03em;
  font-family: 'Montserrat';
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}


.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

* {
  margin: 0;  
  padding: 0; 
  box-sizing: border-box; 
}

ul {
  list-style: none; 
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}