@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --color-text-primary: #000000;
  --color-text-dark-secondary: #5F5F5F;
  --color-text-gray: #B4B4B4;
  --color-text-brown: #C79002;
  --color-text-light: #FFFFFF;
  --color-text-accent: #F3C653;
  --color-text-address: #E5E5E5;
  --color-text-logo: #494848;
  --footer-bg-color: #0E0C07;
  --primary-bg-color: #FFFDEE;
  --seconadary-bg-color: #F0ECD6;
  --color-text-lightgray: #DADADA;
  --color-text-lightbrown: #7A7A7A;
  --color-text-middlegray: #bababa;
  --color-text-middlebrown: #808080;
  --logo-fonts: "Logofont", sans-serif;
  --primary-fonts: "Montserrat", sans-serif;
  --secondary-fonts: "Timesstand", sans-serif;
  --secondary-bold-fonts: "Timesbold", sans-serif;
}

@font-face {
  font-family: "Logofont";
  src: url(../fonts/FilmP3Bold.ttf);
}
@font-face {
  font-family: "Timesstand";
  src: url(../fonts/TimesNewRomanMTStd.ttf);
}
@font-face {
  font-family: "Timesbold";
  src: url(../fonts/TimesNewRomanMTStd-Bold.ttf);
}
body {
  font-family: var(--primary-fonts);
  color: var(--color-text-primary);
  background-color: var(--primary-bg-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 414px) {
  .container {
    max-width: 414px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-light {
  width: 236px;
  height: 48px;
  border: 2px solid var(--color-text-light);
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: var(--primary-fonts);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-text-accent);
}
.btn-light:hover, .btn-light:focus {
  background-color: var(--color-text-light);
}
@media screen and (min-width: 1024px) {
  .btn-light {
    height: 49px;
  }
}

.btn-dark {
  width: 236px;
  height: 48px;
  border: 2px solid var(--color-text-light);
  border-radius: 25px;
  background-color: var(--color-text-primary);
  font-family: var(--primary-fonts);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-text-accent);
}
.btn-dark:hover, .btn-dark:focus {
  background-color: var(--color-text-light);
}
@media screen and (min-width: 1024px) {
  .btn-dark {
    height: 49px;
  }
}

.reserv-btn {
  width: 100%;
  height: 64px;
  border: 1px solid var(--color-text-accent);
  border-radius: 25px;
  background-color: var(--color-text-primary);
  font-family: var(--primary-fonts);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-light);
}
.reserv-btn:hover, .reserv-btn:focus {
  background-color: var(--color-text-accent);
  color: var(--color-text-primary);
}
@media screen and (min-width: 1024px) {
  .reserv-btn {
    width: 434px;
    font-size: 24px;
    line-height: 1.2083333333;
  }
}

.modal-reserv-btn {
  width: 100%;
  height: 64px;
  border: 1px solid var(--color-text-accent);
  background-color: var(--color-text-primary);
  font-family: var(--primary-fonts);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-light);
}
.modal-reserv-btn:hover, .modal-reserv-btn:focus {
  background-color: var(--color-text-accent);
  color: var(--color-text-primary);
}
@media screen and (min-width: 1024px) {
  .modal-reserv-btn {
    font-size: 24px;
    line-height: 1.2083333333;
  }
}

.coi_about-hotel {
  background: var(--primary-bg-color);
  padding-top: 18px;
  padding-bottom: 72px;
}
@media screen and (min-width: 1024px) {
  .coi_about-hotel {
    padding-top: 120px;
    padding-bottom: 96px;
    left: 0px;
    top: 2578px;
  }
}
@media screen and (min-width: 1280px) {
  .coi_about-hotel {
    padding-top: 120px;
    padding-bottom: 119px;
    left: 0px;
    top: 2615px;
    border: 1px solid #000000;
  }
}

@media screen and (min-width: 414px) {
  .coi_container {
    width: 414px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  .coi_container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .coi_container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.coi_visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  display: none;
}

@media screen and (min-width: 1024px) {
  .coi_card-list {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1280px) {
  .coi_card-list {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.coi_card-text {
  display: block;
  text-align: end;
}
@media screen and (min-width: 1024px) {
  .coi_card-text {
    padding-left: 78px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .coi_card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.coi_card-text__title {
  margin-bottom: 6px;
  font-family: var(--secondary-fonts);
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-text-gray);
}

.coi_card-text__mimino {
  margin-bottom: 16px;
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: var(--color-text-logo);
}

.coi_card-text__text {
  margin-bottom: 28px;
  padding-left: 143px;
  font-family: var(--primary-fonts);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-text-dark-secondary);
}

.coi_card-list-hotel__imeges {
  min-width: 200px;
  max-width: 460px;
}

.coi_card-list__img {
  width: 244px;
  height: 322px;
}
@media screen and (min-width: 1024px) {
  .coi_card-list__img {
    width: 400px;
    height: 524px;
  }
}
@media screen and (min-width: 1280px) {
  .coi_card-list__img {
    width: 460px;
    height: 574px;
    top: -100px;
  }
}

.coi_card-list-hotel {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .coi_card-list-hotel {
    display: flex;
    align-items: center;
  }
}
.coi_card-list-hotel__text {
  display: block;
  padding-right: 22px;
  font-family: var(--primary-fonts);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-text-brown);
}
@media screen and (min-width: 1024px) {
  .coi_card-list-hotel__text {
    display: flex;
    align-items: center;
    padding-right: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .coi_card-list-hotel__text {
    padding-right: 45px;
    padding-left: 365px;
  }
}

.coi_card-list-hotel__img {
  width: 244px;
  height: 322px;
}
@media screen and (min-width: 1024px) {
  .coi_card-list-hotel__img {
    width: 400px;
    height: 524px;
  }
}
@media screen and (min-width: 1280px) {
  .coi_card-list-hotel__img {
    width: 460px;
    height: 574px;
  }
}

.coi_slider {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}

.section {
  padding: 32px 0;
}

.outline {
  outline: 2px solid tomato;
}

.triple-room {
  background-color: var(--seconadary-bg-color);
}

.pre-title {
  font-family: "Times New Roman";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-text-gray);
}

.right-pretitle {
  text-align: right;
  margin-bottom: 8px;
}

.title-logo {
  text-align: right;
  margin-bottom: 32px;
  font-family: "Film P3";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--color-text-logo);
}

.room-title {
  text-align: right;
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--color-text-primary);
}

.room-description {
  font-family: var(--primary-fonts);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-text-dark-secondary);
  margin: 12px 74px 32px 98px;
}

.appartment-image {
  outline: 2px solid tomato;
  margin-bottom: 32px;
  width: 244px;
}

.one-time {
  margin-bottom: 72px;
  margin-left: auto;
  outline: 2px solid tomato;
}

.slick-prev:before {
  content: "";
}

.slick-next:before {
  content: "";
}

.slick-next {
  width: 32px;
  height: 32px;
  transform: translate(-150px, 150px);
  background-image: url(../slick/images/cil_arrow-left.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-prev {
  width: 32px;
  height: 32px;
  transform: translate(300px, 100px);
  background-image: url(../slick/images/cil_arrow-right.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.button-item:first-child {
  margin-bottom: 16px;
}

.button {
  display: block;
  margin: 0 auto;
}/*# sourceMappingURL=index.css.map */