:root {
  --color-text-primary: #000000;
  --color-text-dark-secondary: #5F5F5F;
  --color-text-gray: #B4B4B4;
  --color-text-brown: #C79002;
  --color-text-light: #FFFFFF;
  --color-text-accent: #F3C653;
  --color-text-address: #E5E5E5;
  --color-text-logo: #494848;
  --footer-bg-color: #0E0C07;
  --primary-bg-color: #FFFDEE;
  --seconadary-bg-color: #F0ECD6;
  --color-text-lightgray: #DADADA;
  --color-text-lightbrown: #7A7A7A;
  --color-text-middlegray: #bababa;
  --color-text-middlebrown: #808080;

  --gradient: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4));

  --logo-fonts: 'Logofont', sans-serif;
  --primary-fonts: 'Montserrat', sans-serif;
  --secondary-fonts: 'Timesstand', sans-serif;
  --secondary-bold-fonts: 'Timesbold', sans-serif;
}

