.hotel-hero {
  max-width: 100%;
  height: 740px;
  text-align: center;
  padding-top: 181px;

  outline: 1px solid black;
  background-image: var(--gradient),
    url(..//..//../images/mobile/room/room-hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: var(--gradient),
      url(..//..//../images/mobile/room/room-hero-2x-mob.jpg);
  }

  @include tablet {
    background-image: var(--gradient),
      url(..//..//../images/tablet/room/room-hero-tab.jpg);
    height: 720px;
    padding-top: 188px;

    @include retina {
      background-image: var(--gradient),
        url(..//..//../images/tablet/room/room-hero-2x-tab.jpg);
    }
  }

  @include desktop {
    background-image: var(--gradient),
      url(..//..//../images/desktop/room/room-hero.jpg);

    padding-top: 164px;


    @include retina {
      background-image: var(--gradient),
        url(..//..//../images/desktop/room/room-hero-2x.jpg);
    }
  }
}

.hotel-hero__title {
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 96px;
  line-height: calc(103 / 96);
  letter-spacing: 0.3em;
  color: var(--color-text-light);

  text-transform: uppercase;

  margin-bottom: 24px;

  @include tablet {
    font-size: 128px;
    line-height: calc(138 / 128);

    margin-bottom: 32px;
  }
}

.hotel-hero__undertitile {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--color-text-light);

  margin-bottom: 178px;

  @include tablet {
    font-size: 20px;
    line-height: calc(24 / 20);
    margin-bottom: 218px;
  }
}

.hotel-hero__list {
  display: flex;
  gap: 23px;
  margin-top: 61px;

  @include tablet {
    margin-top: 28px;
  }

  @include desktop {
    padding-top: 0;
    display: none;
  }
}

.hotel-hero__adress {
  padding-top: 0;
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 8px 6px;
    width: 285px;
    height: 56px;

    margin-right: 127px;

    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;

    font-family: var(--primary-fonts);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.01em;
    color: var(--color-text-address);
  }

  @include desktop {
    margin-right: 297px;
  }
}

.header-icon-check {
  margin-right: 16px;
  margin-left: 16px;
}

.hotel-hero__btn {
  &:not(:last-child) {
    margin-bottom: 26px;
  }

  @include tablet {
    &:not(:last-child) {
      margin-right: 40px;
      margin-bottom: 0;
    }
  }
}

.tablet-wrap {
  @include tablet {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: baseline;
  }
}

