.container {
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 32px;
   padding-top: 32px;
   margin: 0 auto;
   width: 100%;
   position: relative;

 
   @media screen and (min-width:414px) {
   max-width: 414px;
   } 
 
   @media screen and (min-width:1024px) {
   max-width: 1024px;
   height: 838px;
   }
 
   @media screen and (min-width:1280px) {
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;
   }}

.one-room-for-two {
   background: var(--primary-bg-color);
   background: #FFFDEE;
}

.one-room-for-two-info {
   display: block;
   @media screen and (min-width:1024px) {
      padding-left: 47px;
      margin-right: 26px;
      }
    
      @media screen and (min-width:1280px) {
         padding-left: 47px;
      }
}

.one-room-for-two-text {
   font-family: 'Times New Roman';
   font-weight: 400;
   font-size: 20px;
   line-height: 1.15;
   color: var(--color-text-gray);
   width: 190px;
   margin-right: 194px;

@media screen and (min-width:1024px) {
   font-size: 32px;
   line-height: 1.16;
   margin-right: auto;
   }
 
   @media screen and (min-width:1280px) {
      font-size: 32px;
      line-height: 1.16;
      margin-right: auto;
   }
}

.one-room-for-two-subtitle {
   font-family: var(--logo-fonts);
   font-weight: 700;
   font-size: 40px;
   line-height: 1.08;
   letter-spacing: 0.3em;
   color: var(--color-text-logo);
   margin-top: 8px;
   margin-right: 257px;
  
@media screen and (min-width:1024px) {
   font-size: 64px;
   margin-right: 26px;
   }

@media screen and (min-width:1280px) {
   font-size: 64px;
   margin-top: 40px;
   margin-right: 26px;
}}

.one-room-for-two-title {
   font-family: 'Times New Roman';
   font-weight: 700;
   font-size: 24px;
   line-height: 1.17;
   letter-spacing: 0.05em;
   color: var(--color-text-primary);
   margin-top: 32px;
   margin-right: 100px;
@media screen and (min-width:1024px) {
font-size: 30px;
line-height: 1.13;
margin-right: 26px;
margin-top: 62px;}
 
@media screen and (min-width:1280px) {
   font-size: 36px;
   line-height: 1.14;
   margin-right: 26px;
   margin-top: 70px;
   }
}

.one-room-for-two-description {
   font-family: var(--primary-fonts);
   font-weight: 600;
   font-size: 12px;
   line-height: 1.25;
   letter-spacing: 0.02em;
   color: var(--color-text-dark-secondary);
margin-top: 12px;
margin-right: 126px;
 
@media screen and (min-width:1024px) {
   font-size: 16px;
   margin-right: 26px;
width: 439px;
height: 80px;
justify-content: space-around;
align-items:space-around;
margin-top: 16px;
   }
 
   @media screen and (min-width:1280px) {
   font-size: 16px;
   margin-right: 26px;
   margin-top: 24px;
   }
}

.pict-room-for-two {
margin-left: 140px;
margin-top: 32px;
margin-bottom: 32px;
}

.photo-room-for-two {
 margin-left: 140px;
 margin-bottom: 32px;
 width: 246px;
 height: 322px;

 @media screen and (min-width:1024px) {
   width: 400px;
   height: 524px;
   position: absolute;
   top: -32px;
   bottom: 346px;
   right: 112px;
   }

   @media screen and (min-width:1280px){
   width: 460px;
   height: 574px;
   position: absolute;
   top: -32px;
   bottom: 346px;
   right: 180px;
   }
}

.two-arrow {
display: flex;
gap: 34px;
width: 100px;

@media screen and (min-width:1024px) {
   display: none;
   }
}

.one-time-no {
display: flex;
gap: 16px;
margin-right: 130px;
margin-left: -120px;
margin-bottom: 28px;

@media screen and (min-width:1024px) {
   gap: 40px;
   margin-left: 47px;
   margin-bottom: 28px;
   margin-right: 266px;
   align-content: flex-end;
   }
 
   @media screen and (min-width:1280px) {
      gap: 40px;
      margin-right: 130px;
      margin-left: 85px;
      margin-bottom: 28px;
   }
}

.slic {
height: 194px;
width: 194px;
box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
@media screen and (min-width:1024px) {
      height: 194px;
      width: 194px;
}
@media screen and (min-width:1280px) {
      height: 254px;
      width: 254px;
}}

.room-for-two-top {
   
   @media screen and (min-width:414px) {
      display: block;
      } 
    
      @media screen and (min-width:1024px) {
      display: flex;
      }
    
      @media screen and (min-width:1280px) {
     display: flex;
      }}

      .room-for-two-down {
   
         @media screen and (min-width:414px) {
            display: block;
            } 
          
            @media screen and (min-width:1024px) {
            display: flex;
            margin-top: 174px;
            }
          
            @media screen and (min-width:1280px) {
           display: flex;
           margin-top: 188px;
            }}

            .two-button {
               align-content: center;
            @media screen and (min-width:1024px) {
            align-content: center;
               }
             
            @media screen and (min-width:1280px) {
            align-content: center;
               }}

.two-arrow-desktop {
@media screen and (max-width:1279px) {
   display: none}
   display: flex;
   gap: 34px;
   width: 100px;
   margin-left: 536px;}

      


   

