.section {
  padding: 32px 0;
}
.container {
  @include tablet {
    position: relative;
  }
}
.outline {
  outline: 2px solid tomato;
}
.triple-room {
  background-color: var(--seconadary-bg-color);
}
.pre-title {
  font-family: var(--secondary-fonts);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-text-gray);
  @include tablet {
    font-size: 32px;
  }
}
.right-pretitle {
  text-align: right;
  margin-bottom: 8px;
}
.title-logo {
  text-align: right;
  margin-bottom: 32px;
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--color-text-logo);
  @include tablet {
    font-size: 64px;
  }
}
.room-title {
  text-align: right;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--color-text-primary);
  @include tablet {
    font-size: 30px;
    line-height: 1.13;
  }
}
.room-description {
  font-family: var(--primary-fonts);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-text-dark-secondary);
  margin: 12px 62px 32px 98px;
  @include tablet {
    font-weight: 700;
    font-size: 16px;
  }
}
.appartment-image {
  outline: 2px solid tomato;
  margin-bottom: 32px;
  width: 244px;
  background: var(--color-text-lightgray);
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  @include tablet {
    position: absolute;
    top: -32px;
    left: 65px;
    width: 400px;
  }
}
//slick
/*.one-time {
  width: 274px;
  margin-bottom: 72px;
  margin-left: auto;
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  //outline: 2px solid tomato;
}*/
.slick-track {
  display: flex;
  gap: 20px;
  background: #dadada;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  background-color: var(--seconadary-bg-color);
}
/*.slick-item {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  width: 194px;
}

.slick-prev:before {
  content: '';
  background-image: url(../slick/images/cil_arrow-left.svg);
}
.slick-next:before {
  content: '';
}

.slick-next {
  width: 32px;
  height: 32px;
  transform: translate(-150px, 100px);
  background-image: url(../slick/images/cil_arrow-left.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.slick-prev {
  width: 32px;
  height: 32px;
  transform: translate(300px, 100px);
  background-image: url(../slick/images/cil_arrow-right.svg);
  background-repeat: no-repeat;
  background-size: cover;
}*/
.slick-next:before {
  content: '';
  //background-image: url(.../slick/images/cil_arrow-right.svg);
}
.slick-next:before,
.slick-arrow::before {
  content: '';
  //background-image: url(.../slick/images/cil_arrow-right.svg);
}
.slick-prev {
  width: 32px;
  height: 32px;
  background-image: url(../images/slick/cil_arrow-left.svg);
}
.slick-next {
  width: 32px;
  height: 32px;
  background-image: url(../images/slick/cil_arrow-right.svg);
}
//button set

.button-item:first-child {
  margin-bottom: 16px;
}
.btn-link {
  display: block;
  margin: 0 auto;
  padding: 14px 65px;
}
.btn {
  margin: 0 auto;
  display: block;
}
