.container-triple-room {
  @include tablet {
    position: relative;
  }
}

.triple-room {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--seconadary-bg-color);

  @include tablet {
    padding-top: 66px;
    padding-bottom: 104px;
  }

  @include desktop {
    padding-top: 72px;
  }
}

.triple-room .additional-title {
  font-family: var(--secondary-fonts);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-text-gray);
  margin-bottom: 8px;

  @include tablet {
    font-size: 32px;
    margin-bottom: 4px;
  }
}

.triple-room .right-addtitle {
  text-align: right;
}

.triple-room .title-logo {
  text-align: right;
  margin-bottom: 32px;
  margin-right: -0.28em;
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--color-text-logo);
  text-transform: uppercase;

  @include tablet {
    font-size: 64px;
    margin-bottom: 62px;
  }

  @include desktop {
    margin-bottom: 72px;
  }
}

.triple-room .room-title {
  text-align: right;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--color-text-primary);
  text-transform: uppercase;

  @include tablet {
    font-size: 30px;
    line-height: 1.13;
    margin-right: 45px;
  }

  @include desktop {
    font-size: 36px;
    margin-right: 57px;
  }
}

.triple-room .room-description {
  font-family: var(--primary-fonts);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-text-dark-secondary);
  margin: 12px 62px 32px 83px;

  @include tablet {
    font-weight: 700;
    font-size: 16px;
    //margin-right: 20px;
    width: 400px;
    margin: 16px 20px 169px 510px;
  }

  @include desktop {
    margin: 24px 110px 188px 600px;
  }
}

.triple-room .appartment-image {
  //outline: 2px solid tomato;
  margin-bottom: 32px;
  width: 244px;
  background: var(--color-text-lightgray);
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include tablet {
    position: absolute;
    top: -98px;
    left: 112px;
    width: 400px;
  }

  @include desktop {
    position: absolute;
    top: -104px;
    left: 180px;
    width: 460px;
  }
}

.one-time {
  margin-left: auto;
  margin-bottom: 30px;
  width: 284px;
  height: 240px;
  //background-color: tomato;

  @include tablet {
    width: 428px;
    height: 250px;
    margin-left: 0;
  }
}

.slider-wrap {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.left-oriented .slider-wrap {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
//button set
.button-set {
  margin-top: 72px;
  @include tablet {
    margin-top: 0;
  }
}

.button-item:first-child {
  margin-bottom: 16px;
}

.btn-detail {
  display: block;
  margin: 0 auto;
  padding: 14px 65px;
}

.btn-price {
  margin: 0 auto;
  display: block;
}

//slick

.slick-slider {
  position: relative;
  right: -15px;
  @include tablet {
    right: 85px;
  }
  @include desktop {
    // right: 115px;
  }
}
.left-oriented .slick-slider {
  position: relative;
  right: 102px;
  @include tablet {
    right: 85px;
  }
}
.slick-track {
  position: relative;
  display: flex;
  gap: 16px;
  @include tablet {
    gap: 40px;
  }
}
.left-oriented .slick-track {
  left: 100px;
  @include tablet {
    left: 0px;
  }
}
.slick-list {
  position: relative;
  left: 86px;
  width: 300px;
  @include tablet {
    width: 428px;
  }
  @include desktop {
    width: 548px;
  }
}
.slider-item {
  width: 194px;
  height: 194px;
  @include desktop {
    width: 254px;
    height: 254px;
  }
}

.subdiv {
  width: 194px;
  height: 194px;
  @include desktop {
    width: 254px;
    height: 254px;
  }
}

.slick-next:before {
  content: '';
}

.slick-next:before,
.slick-arrow::before {
  content: '';
}

.slick-arrow {
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  opacity: 1;
  top: 114%;
  @include tablet {
    top: 121%;
  }
  @include desktop {
    top: 119%;
  }
}

.slick-arrow.slick-next {
  right: 18px;
  background: url('../images/slick/cil_arrow-right.svg') 0 0 / 100% no-repeat;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover,
  &:focus {
    background: url('../images/slick/hovered-right.svg') 0 0 / 100% no-repeat;
  }
  @include tablet {
    right: 250px;
  }
  @include desktop {
    right: 370px;
  }
}

.left-oriented .slick-arrow.slick-next {
  right: 191px;
  background: url('../images/slick/cil_arrow-right.svg') 0 0 / 100% no-repeat;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover,
  &:focus {
    background: url('../images/slick/hovered-right.svg') 0 0 / 100% no-repeat;
  }
  @include tablet {
    right: -85px;
  }
}
.slick-arrow.slick-prev {
  left: 274px;
  background: url('../images/slick/cil_arrow-left.svg') 0 0 / 100% no-repeat;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover,
  &:focus {
    background: url('../images/slick/hovered-left.svg') 0 0 / 100% no-repeat;
  }
  @include tablet {
    left: 85px;
  }
}

.left-oriented .slick-arrow.slick-prev {
  left: 101px;
  background: url('../images/slick/cil_arrow-left.svg') 0 0 / 100% no-repeat;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover,
  &:focus {
    background: url('../images/slick/hovered-left.svg') 0 0 / 100% no-repeat;
  }
  @include tablet {
    left: 415px;
  }
  @include desktop {
    left: 535px;
  }
}
// .slick-prev.slick-disabled {
//   background: url('../images/slick/white_arrow-left.svg') 0 0 / 100% no-repeat;
// }
// .slick-next.slick-disabled {
//   background: url('../images/slick/white_arrow-right.svg') 0 0 / 100% no-repeat;
// }
