.luxe-room-container {
  position: relative;
  outline: 2px solid tomato;
}

.room-luxe-for-two {
  background-color: var(--primary-bg-color);
  padding-top: 32px;
  padding-bottom: 32px;

  @include tablet {
    padding-top: 62px;
    padding-bottom: 104px;
  }

  @include desktop {
    padding-top: 72px;
  }
}

.brand-pretitle {
  margin-bottom: 8px;
  font-family: var(--secondary-fonts);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: var(--color-text-gray);

  @include tablet {
    margin-bottom: 4px;
    font-size: 32px;
    line-height: 1.16;
  }
}

.brand-title {
  margin-bottom: 32px;
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--color-text-logo);

  @include tablet {
    margin-bottom: 62px;
    font-size: 64px;
  }

  @include desktop {
    margin-bottom: 72px;
  }
}

.hotel-section-title {
  margin-bottom: 12px;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--color-text-primary);

  @include tablet {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.13;
  }

  @include desktop {
    margin-bottom: 24px;
    font-size: 36px;
  }
}

.room-description {
  margin: 12px 141px 32px 0px;
  font-family: var(--primary-fonts);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-text-dark-secondary);

  @media screen and (max-width: 414px) {
    margin: 12px 60px 32px 0px;
  }

  @include tablet {
    margin-bottom: 176px;
    margin-right: 491px;
    font-size: 16px;
  }

  @include desktop {
    margin-bottom: 188px;
    margin-right: 710px;
    font-size: 16px;
  }
}

.appartment-image {
  margin-bottom: 32px;
  width: 244px;
  background: var(--color-text-lightgray);
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @include tablet {
    position: absolute;
    top: -94px;
    right: 112px;
    width: 400px;
  }

  @include desktop {
    position: absolute;
    top: -94px;
    right: 180px;
    width: 460px;
  }
}
