.container {
   position: relative;
 }

.one-room-for-two {
   background: var(--primary-bg-color);
   background: #FFFDEE;
}

.one-room-for-two-info {
   display: block;

   @include tablet {
      padding-left: 0px;
      margin-right: 26px;
      }
}

.one-room-for-two-text {
   font-family: var(--secondary-fonts);
   font-size: 20px;
   line-height: 1.15;
   color: var(--color-text-gray);
   width: auto;
   margin-right: 0;
   margin-top: 32px;

   @include tablet {
   font-size: 32px;
   line-height: 1.16;
   margin-right: auto;
   margin-top: 64px;
   width: auto;
   }
 
   @include desktop {
      margin-right: 0;
      margin-top: 72px;
   }
}

.one-room-for-two-subtitle {
   font-family: var(--logo-fonts);
   font-weight: 700;
   font-size: 40px;
   line-height: 1.08;
   letter-spacing: 0.3em;
   color: var(--color-text-logo);
   margin-top: 8px;
   margin-right: 257px;
  
   @include tablet {
   font-size: 64px;
   margin-right: 26px;
   }

   @include desktop {
   margin-top: 4px;
}}

.one-room-for-two-title {
   font-family: var(--secondary-bold-fonts);
   font-weight: 700;
   font-size: 24px;
   line-height: 1.17;
   letter-spacing: 0.05em;
   color: var(--color-text-primary);
   margin-top: 32px;
   margin-right: 100px;
   @include tablet{
font-size: 30px;
line-height: 1.13;
margin-right: 26px;
margin-top: 62px;}
 
@include desktop{
   font-size: 36px;
   line-height: 1.14;
   margin-top: 72px;
   }
}

.one-room-for-two-description {
   font-family: var(--primary-fonts);
   font-weight: 600;
   font-size: 12px;
   line-height: 1.25;
   letter-spacing: 0.02em;
   color: var(--color-text-dark-secondary);
margin-top: 12px;
margin-right: 126px;
@include tablet {
   font-size: 16px;
   margin-right: 26px;
width: 439px;
height: 80px;
justify-content: space-around;
align-items:space-around;
margin-top: 16px;
   }
 
  @include desktop {
   margin-top: 24px;
   width: 400px;
   height: 83px;
   }
}

.pict-room-for-two {
margin-left: 140px;
margin-top: 32px;
margin-bottom: 32px;
}

.photo-room-for-two {
 margin-left: 140px;
 margin-bottom: 32px;
 width: 246px;
 height: 322px;

 @include tablet {
   width: 400px;
   height: 524px;
   position: absolute;
   top: -32px;
   bottom: 346px;
   right: 112px;
   }

   @include desktop{
   width: 460px;
   height: 574px;
   right: 180px;
   }
}

.two-arrow {
display: flex;
gap: 34px;
width: 100px;
margin-bottom: 28px;

@include tablet {
   display: none;
   }
}

.one-time-no {
display: flex;
gap: 16px;
margin-right: 130px;
margin-left: -120px;
margin-bottom: 28px;

@include tablet {
   gap: 40px;
   margin-left: 0px;
   margin-bottom: 28px;
   margin-right: 15px;
   align-content: flex-end;
   }
 
   @include desktop {
      margin-right: 130px;
   }
}

.slic {
height: 194px;
width: 194px;
box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
@include tablet {
      height: 194px;
      width: 194px;
}
@include desktop{
      height: 254px;
      width: 254px;
}}

.room-for-two-top {
   
   @include mobile  {
      display: block;
      } 
    
   @include tablet {
      display: flex;
      }
    
   @include desktop {
     display: flex;
      }}

.room-for-two-down {
   
    @include mobile {
       display: block;
            } 
          
            @include tablet{
            display: flex;
            margin-top: 174px;
            }
          
            @include desktop {
           margin-top: 188px;
            }}

            .two-button {
               display: flex;
               flex-wrap: wrap;
               gap: 16px;
               align-content: center;
               justify-content: center;
               margin-bottom: 32px;
               @include tablet {
            align-content: center;
            justify-content: end;
            margin-bottom: 0;
               }
             
            }

.two-arrow-desktop
{ 
   @media screen and (max-width: 1279px)
   {display: none;}
margin-left: 419px;
margin-bottom: 47px;
margin-bottom: 12px;
display: flex;
gap: 34px;
width: 100px;
   }


      


   

