<section class="section-about-kitchen">
  <div class="container">
    <h2 hidden class="visually-hidden">About our kitchen</h2>
    <p class="about-kitchen-pre-tittle">Amet minim mollit non</p>
    <h2 class="about-kitchen-logo">MIMIHO</h2>
    <div class="about-kitchen-content">
      <p class="about-kitchen-information">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <picture class="about-kitchen-photo" width="460" height="322">
        <source
          srcset="
            ./images/desktop/restaurant/restaurant-kitchen.jpg    1x,
            ./images/desktop/restaurant/restaurant-kitchen-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/restaurant/restaurant-kitchen-tab.jpg    1x,
            ./images/tablet/restaurant/restaurant-kitchen-2x-tab.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/mobile/reasturant/restaurant-kitchen-mob.jpg    1x,
            ./images/mobile/reasturant/restaurant-kitchen-2x-mob.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          src="./images/mobile/reasturant/restaurant-kitchen-mob.jpg"
          alt="restaurant-kitchen"
          class="about-kitchen-food"
        />
      </picture>
    </div>
    <div class="about-kitchen-content tables">
      <picture class="about-kitchen-photo" width="460" height="278">
        <source
          srcset="
            ./images/desktop/restaurant/meat.jpg    1x,
            ./images/desktop/restaurant/meat-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/restaurant/meat-tab.jpg    1x,
            ./images/tablet/restaurant/meat-2x-tab.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/mobile/reasturant/meat-mob.jpg    1x,
            ./images/mobile/reasturant/meat-2x-mob.jpg 2x
          "
          media="(min-width: 414px)"
        />
        <img
          src="./images/mobile/reasturant/meat-mob.jpg"
          alt="meat"
          class="about-kitchen-tables"
        />
      </picture>
      <p class="about-kitchen-information information">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <!-- <div class="slider-wrap-rest">
      <div class="autoplay-mini">
        <div>
          <img
            class="slider-room"
            src="./images/desktop/restaurant/cooking.jpg"
            alt="studio appartment"
            width="245"
            height="245"
          />
        </div>
        <div>
          <img
            class="slider-room"
            src="./images/desktop/restaurant/cooking.jpg"
            alt="studio appartment"
            width="245"
            height="245"
          />
        </div>
        <div>
          <img
            class="slider-room"
            src="./images/desktop/restaurant/cooking.jpg"
            alt="studio appartment"
            width="245"
            height="245"
          />
        </div>
      </div>
    </div> -->
  </div>
</section>
