<section class="menu">
  <div class="menu__container container">
    <h2 class="menu__title">Меню ресторану</h2>
    <div class="menu__block">
      <table class="menu__table">
        <tbody>
          <tr>
            <td class="menu__subtitle" colspan="3">Гарячі страви</td>
          </tr>
          <tr>
            <td class="menu__dishes" colspan="3">Борщ з телятини з квасолею</td>
          </tr>
          <tr>
            <td class="menu__description">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </td>
            <td class="menu__volume">400 г</td>
            <td class="menu__price">240 грн</td>
          </tr>
          <tr>
            <td class="menu__dishes" colspan="3">Суп сирний з куркою</td>
          </tr>
          <tr>
            <td class="menu__description">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </td>
            <td class="menu__volume">400 г</td>
            <td class="menu__price">200 грн</td>
          </tr>
          <tr>
            <td class="menu__dishes" colspan="3">Паста карбонара</td>
          </tr>
          <tr>
            <td class="menu__description">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </td>
            <td class="menu__volume">350 г</td>
            <td class="menu__price">430 грн</td>
          </tr>
          <tr>
            <td class="menu__dishes" colspan="3">Стейк зі свинини</td>
          </tr>
          <tr>
            <td class="menu__description">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </td>
            <td class="menu__volume">400 г</td>
            <td class="menu__price">500 грн</td>
          </tr>
          <tr>
            <td class="menu__dishes" colspan="3">
              Горбуша в соусі з білого вина
            </td>
          </tr>
          <tr>
            <td class="menu__description">
              Ніжна горбуша, вершковий соус на основі білого вина
            </td>
            <td class="menu__volume">400 г</td>
            <td class="menu__price">400 грн</td>
          </tr>
          <tr>
            <td class="menu__subtitle" colspan="3">Гарніри та закуски</td>
          </tr>
          <tr>
            <td class="menu__dishes" colspan="3">Запечені овочі</td>
          </tr>
          <tr>
            <td class="menu__description">
              Кабачок, перець, помідор, баклажан
            </td>
            <td class="menu__volume">200 г</td>
            <td class="menu__price">230 грн</td>
          </tr>
          <tr>
            <td class="menu__dishes" colspan="3">Картопля фрі</td>
          </tr>
          <tr>
            <td class="menu__description">Картопля, соус томатний</td>
            <td class="menu__volume">150 г</td>
            <td class="menu__price">160 грн</td>
          </tr>
          <tr>
            <td class="menu__dishes" colspan="3">Картопля по-селянськи</td>
          </tr>
          <tr>
            <td class="menu__description">Картопля, спеції, соус пікантний</td>
            <td class="menu__volume">150 г</td>
            <td class="menu__price">160 грн</td>
          </tr>
          <tr>
            <td class="menu__dishes" colspan="3">Хрумкі соління з бочки</td>
          </tr>
          <tr>
            <td class="menu__description">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </td>
            <td class="menu__volume">250 г</td>
            <td class="menu__price">350 грн</td>
          </tr>
          <tr>
            <td class="menu__dishes" colspan="3">
              Крильця курячі в медовому соусі
            </td>
          </tr>
          <tr>
            <td class="menu__description">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </td>
            <td class="menu__volume">400 г</td>
            <td class="menu__price">420 грн</td>
          </tr>
        </tbody>
      </table>
      <table class="menu__table">
        <tbody>
          <tr>
            <td class="menu__subtitle" colspan="3">Салати</td>
          </tr>
          <tr>
            <td class="menu__drinks" colspan="3">Цезар з куркою</td>
          </tr>
          <tr>
            <td class="menu__description">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </td>
            <td class="menu__volume">230 г</td>
            <td class="menu__price">450 грн</td>
          </tr>
          <tr>
            <td class="menu__drinks" colspan="3">Цезар з креветками</td>
          </tr>
          <tr>
            <td class="menu__description">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </td>
            <td class="menu__volume">230 г</td>
            <td class="menu__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu__drinks" colspan="3">Грецький салат</td>
          </tr>
          <tr>
            <td class="menu__description">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </td>
            <td class="menu__volume">230 г</td>
            <td class="menu__price">280 грн</td>
          </tr>
          <tr>
            <td class="menu__drinks" colspan="3">М’ясний салат</td>
          </tr>
          <tr>
            <td class="menu__description">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </td>
            <td class="menu__volume">230 г</td>
            <td class="menu__price">300 грн</td>
          </tr>

          <tr>
            <td class="menu__subtitle" colspan="3">Десерти</td>
          </tr>
          <tr>
            <td class="menu__drinks">Торт наполеон</td>
            <td class="menu__volume">230 г</td>
            <td class="menu__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu__drinks">Торт маковий</td>
            <td class="menu__volume">230 г</td>
            <td class="menu__price">300 грн</td>
          </tr>
          <tr>
            <td class="menu__drinks">Тірамісу</td>
            <td class="menu__volume">120 г</td>
            <td class="menu__price">260 грн</td>
          </tr>

          <tr>
            <td class="menu__subtitle" colspan="3">Напої</td>
          </tr>
          <tr>
            <td class="menu__drinks">Чай чорний/зелений</td>
            <td class="menu__volume">500 мл</td>
            <td class="menu__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu__drinks">Еспресо</td>
            <td class="menu__volume">30 мл</td>
            <td class="menu__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu__drinks">Американо</td>
            <td class="menu__volume">150 мл</td>
            <td class="menu__price">100 грн</td>
          </tr>
          <tr>
            <td class="menu__drinks">Капучино</td>
            <td class="menu__volume">200 мл</td>
            <td class="menu__price">160 грн</td>
          </tr>
          <tr>
            <td class="menu__drinks">Лате</td>
            <td class="menu__volume">200 мл</td>
            <td class="menu__price">160 грн</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="menu__block-btn">
      <button class="menu__btn" type="button" data-modal-book-table-open>
        Забронювати столик
      </button>
    </div>
  </div>
</section>
