<footer class="footer">
  <div class="footer-container container">
    <a href="./index.html" class="logo-link link"><p class="logo">MIMIHO</p></a>
    <div class="footer-wrap">
      <ul class="nav-footer-list list">
        <li><a href="./index.html" class="menu-link link">Головна</a></li>
        <li>
          <a href="./restaurant.html" class="menu-link link">Ресторан</a>
        </li>
        <li><a href="./hotel.html" class="menu-link link">Готель</a></li>
      </ul>
      <ul class="soc-list list">
        <li class="soc-item">
          <a
            href=""
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="soc-link link"
          >
            <p class="soc-text">Telegram</p>
            <svg class="soc-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li class="soc-item">
          <a
            href=""
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="soc-link link"
          >
            <p class="soc-text">Facebook</p>
            <svg class="soc-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="soc-item">
          <a
            href=""
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="soc-link link"
          >
            <p class="soc-text">Instagram</p>
            <svg class="soc-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
