<footer>
  <a href="./index.html" class="link"><p>МІМІНО</p></a>
  <ul>
    <li><a href="./index.html" class="link">Головна</a></li>
    <li><a href="./restaurant.html" class="link">Ресторан</a></li>
    <li><a href="./hotel.html" class="link">Готель</a></li>
  </ul>
  <ul>
    <li>
      <a href="" target="_blank" rel="noreferrer noopener nofollow">
        <svg width="24" height="24">
          <use href="./images/icons.svg#icon-instagram"></use></svg
      ></a>
    </li>
    <li>
      <a href="" target="_blank" rel="noreferrer noopener nofollow">
        <svg width="24" height="24">
          <use href="./images/icons.svg#icon-facebook"></use></svg
      ></a>
    </li>
    <li>
      <a href="" target="_blank" rel="noreferrer noopener nofollow">
        <svg width="24" height="24">
          <use href="./images/icons.svg#icon-telegram"></use></svg
      ></a>
    </li>
  </ul>
</footer>
