<footer>
  <a href="/src/index.html" class="link"><p>MIMIHO</p></a>
  <ul>
    <li><a href="" class="link">Головна</a></li>
    <li><a href="" class="link">Ресторан</a></li>
    <li><a href="" class="link">Готель</a></li>
  </ul>
  <ul>
    <li>
      <a href="" target="_blank" rel="noreferrer noopener">
        <svg width="24" height="24"><use src=""></use></svg
      ></a>
    </li>
    <li>
      <a href="" target="_blank" rel="noreferrer noopener">
        <svg width="24" height="24"><use src=""></use></svg
      ></a>
    </li>
    <li>
      <a href="" target="_blank" rel="noreferrer noopener">
        <svg width="24" height="24"><use src=""></use></svg
      ></a>
    </li>
  </ul>
</footer>
