<header>
  <header class="header">
    <div class="header_container container">
      <nav class="header_navigation">
        <a href="./index.html" class="header-logo link">Mimiho</a>
        <div class="header-nav-wrap">
          <ul class="header-list list">
            <li class="header-list-item">
              <a href="./restaurant.html" class="rest-header-link link"
                >Ресторан</a
              >
            </li>
            <div class="header-phone-wrap list">
              <li class="header-list-item">
                <a href="tel: 0955559533" class="link"
                  ><svg class="header-icon-phone" width="24px" height="24px">
                    <use href="./images/icons.svg#icon-phone"></use></svg
                ></a>
              </li>
              <li class="header-list-item rest-phone-num">
                <a href="tel:0955559533" class="phone-num-link link"
                  >095 555 95 33</a
                >
              </li>
            </div>
            <li class="header-list-item">
              <a href="./hotel.html" class="hotel-list-link link">Готель</a>
            </li>
            <div class="header-phone-wrap list">
              <li class="header-list-item">
                <a href="tel: 0668491089 0672758540" class="link"
                  ><svg class="header-icon-phone" width="24px" height="24px">
                    <use href="./images/icons.svg#icon-phone"></use></svg
                ></a>
              </li>
              <li class="header-list-item hotel-phone-num">
                <a href="tel:0668491089" class="phone-num-link link"
                  >066 849 10 89</a
                >
              </li>
              <li class="header-list-item hotel-phone-num">
                <a href="tel:0672758540" class="phone-num-link link"
                  >067 275 85 40</a
                >
              </li>
            </div>
          </ul>
          <ul class="header-soc-wrap list">
            <li class="header-soc-item">
              <a href="#" target="_blank" class="header-soc-links link"
                ><svg class="header-icon-phone" width="22px" height="22px">
                  <use href="./images/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="header-soc-item list">
              <a href="#" target="_blank" class="header-soc-links link"
                ><svg class="header-icon-phone" width="22px" height="22px">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="header-soc-item list">
              <a href="#" target="_blank" class="header-soc-links link"
                ><svg class="header-icon-phone" width="22px" height="22px">
                  <use href="./images/icons.svg#icon-telegram"></use></svg
              ></a>
            </li>
          </ul>
        </div>
        <!-- </ul> -->
      </nav>
      <div class="header-adress-wrap">
        <a
          href="https://goo.gl/maps/LaFmuFMGUwHTDL4Q6"
          class="header_adress link"
          ><svg class="header-icon-check" width="20px" height="20px">
            <use href="./images/icons.svg#icon-location"></use>
          </svg>
          Україна, м. Полтава,<br />вул. Маршала Бірюзова, 15</a
        >
      </div>
    </div>
  </header>
</header>
