.box {
  width: 100%;
  height: 200px;
  position: relative;
  border-bottom: 2px solid tomato;
}

.section {
padding-top: 16px;
padding-bottom: 20px;

@media screen and (min-width:1024px) {
  
  padding-top: 0;   
  padding-bottom: 32px;
  }
}

.about-pre-tittle {
margin-top: 0;
margin-bottom: 12px;

font-family: var(--secondary-fonts);
font-size: 20px;
line-height: 1.15;
color: var(--color-text-gray);

@media screen and (min-width:1024px) {
  margin-top: 120px;
  margin-bottom: 4px; 

  font-size: 32px;
  line-height: 1.16;
  }
}

.about-logo {
margin-top: 0;
margin-bottom: 12;

font-family: var(--logo-fonts);
font-weight: 700;
font-size: 40px;
line-height: 1.08;
letter-spacing: 0.3em;
color: var(--color-text-logo);

@media screen and (min-width:1024px) {
  margin-bottom: 24px; 
  
  font-size: 64px;
  line-height: 1.08;
  }
}

.about-item {
  margin-bottom: 32px;

  @media screen and (min-width:1024px) {
  width: 100%;  
  }
}

.tables {
display: flex;
align-items: center;
}

.about-text {
  width: 258px;
  margin-bottom: 28px;

  font-family: var(--primary-fonts);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--color-text-dark-secondary);

@media screen and (min-width:1024px) {
  font-size: 16px;
  line-height: 1.25;
  width: 439px;
  margin-bottom: 142px;
  }
}

.text {
margin-left: 20px;
margin-bottom: 0;
width: 163px;
color: var(--color-text-brown);

@media screen and (min-width:1024px) {
  margin-left: 48px;
  width: 312px;
  }
}

.interior {
margin-left: auto;

@media screen and (min-width:1024px) {
  position: absolute;
  bottom: -82px;
  right: 112px;
  z-index: 11;
  }
}

.restaurant {
box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
border-radius: 2px;
}

.slider {
margin-left: 69px;

@media screen and (min-width:1024px) {
  margin-left: 536px;
  margin-right: 294px;
  }
}