.coi_about-hotel {
  background: var(--primary-bg-color);
  padding-top: 18px;
  padding-bottom: 72px;

  @include tablet {
    padding-top: 120px;
    padding-bottom: 96px;
    left: 0px;
    top: 2578px;
  }

  @include desktop {
    padding-top: 120px;
    padding-bottom: 119px;
    left: 0px;
    top: 2615px;
    border: 1px solid #000000;
  }
}

.coi_container {
  @media screen and (min-width: 414px) {
    width: 414px;
    margin-left: auto;
    margin-right: auto;
  }

  @include tablet {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  @include desktop {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.coi_visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  display: none;
}
.coi_card-list {
  @include tablet {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  @include desktop {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
}
.coi_card-text {
  display: block;
  text-align: end;

  @include tablet {
    padding-left: 78px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.coi_card-text__title {
  margin-bottom: 6px;
  font-family: var(--secondary-fonts);
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--color-text-gray);
}
.coi_card-text__mimino {
  margin-bottom: 16px;
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: var(--color-text-logo);
}
.coi_card-text__text {
  margin-bottom: 28px;
  padding-left: 143px;
  font-family: var(--primary-fonts);
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: var(--color-text-dark-secondary);
}

.coi_card-list-hotel__imeges {
  min-width: 200px;
  max-width: 460px;
}

.coi_card-list__img {
  width: 244px;
  height: 322px;

  @include tablet {
    width: 400px;
    height: 524px;
  }

  @include desktop {
    width: 460px;
    height: 574px;
    top: -100px;
  }
}

.coi_card-list-hotel {
  display: flex;
  align-items: center;

  @include tablet {
    display: flex;
    align-items: center;
  }

  @include desktop {
    //   display: flex;
    //   align-items: center;
  }
}
.coi_card-list-hotel__text {
  display: block;
  padding-right: 22px;

  @include tablet {
    display: flex;
    align-items: center;
    padding-right: 48px;
  }

  @include desktop {
    padding-right: 45px;
    padding-left: 365px;
  }

  font-family: var(--primary-fonts);
  font-weight: 600;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--color-text-brown);
}

.coi_card-list-hotel__img {
  width: 244px;
  height: 322px;

  @include tablet {
    width: 400px;
    height: 524px;
  }

  @include desktop {
    width: 460px;
    height: 574px;
  }
}

.coi_slider {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
}
