.about-hotel {
  // background: var(--primary-bg-color);
  background-color: green;

  @media screen and (min-width: 414px) {
    // width: 414px;
    // height: 1191px;
    left: 0px;
    // top: 2666px;
  }

  @media screen and (min-width: 1024px) {
    // width: 1024px;
    // height: 1238px;
    left: 0px;
    top: 2578px;
  }

  @media screen and (min-width: 1280px) {
    // width: 1280px;
    // height: 1275px;
    left: 0px;
    top: 2615px;
    border: 1px solid #000000;
  }
}

.container-geometry {
  position: relative;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
// .card-list {
// }
// .card-text {
// }
.card-text__title {
  font-family: 'Times New Roman';
  //   font-style: normal;
  //   font-weight: 400;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--color-text-gray);
}
.card-text__mimino {
  font-family: 'Film P3';
  // font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: var(--color-text-logo);
}
.card-text__text {
  font-family: 'Montserrat';
  // font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: var(--color-text-dark-secondary);
}
.card-list__img {
  // width: 460px;
  // height: 574px;
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;
  background-image: url(/src/images/mobile/homepage/modern-apartment-with-bedroom-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: var(--color-text-lightgray);
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/mobile/homepage/modern-apartment-with-bedroom-2x-mob.jpg);
  }

  @media screen and (min-width: 1024px) {
    background-image: url(/src/images/tablet/homepage/modern-apartment-with-bedroom-tab.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/tablet/homepage/modern-apartment-with-bedroom-2x-tab.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/src/images/desktop/homepage/modern-apartment-with-bedroom.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/desktop/homepage/modern-apartment-with-bedroom-2x.jpg);
    }
  }
}

.card-list-hotel {
  display: flex;
}
.card-list-hotel__text {
  // width: 311px;
  // height: 122px;
  // left: 379px;
  // top: 673px;
  font-family: 'Montserrat';
  // font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--color-text-brown);
}
.card-list-hotel__img {
  // width: 460px;
  // height: 574px;
  left: -60px;
  top: 0px;

  width: 100%;
  height: auto;
  background-image: url(/src/images/mobile/homepage/hotel-hall-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: var(--color-text-lightgray);
  box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/mobile/homepage/hotel-hall-2x-mob.jpg);
  }

  @media screen and (min-width: 1024px) {
    background-image: url(/src/images/tablet/homepage/hotel-hall-tab.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/tablet/homepage/hotel-hall-2x-tab.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(/src/images/desktop/homepage/hotel-hall.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/desktop/homepage/hotel-hall-2x.jpg);
    }
  }
}

.slider {
  display: flex;
}
