.restaurant-details-logo {
    font-family: var(--logo-fonts);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 69px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-right: 0;
}

.restaurant-details-title {
    font-family: var(--primary-fonts);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.restaurant-details-img {
    height: 270px;
    max-width: 270px;
}

.restaurant-details-text {
    font-family: var(--secondary-fonts);
    max-width: 595px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--color-text-gray);


}

.restaurant-details {
    padding: 48px 52px;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.65)), url(../images/mobile/homepage/restaurant-hero-2x-mob.jpg);

    @include tablet {
        display: flex;
        flex-direction: row;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.65)), url(../images/tablet/homepage/restaurant-hero-2x-tab.jpg);
    }

    @include desktop {
        display: flex;
        flex-direction: row;
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.65)), url(../images/desktop/homepage/restaurant-hero.jpg);
    }

}

.button-set {
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: flex-end;

    @include tablet {
        width: 231px;
    }

    @include desktop {
        width: 286px;
    }

    @include mobile {
        margin-top: 80px;
        align-items: center;
        text-align: center;
    }

}

.restaurant-details-box {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include tablet {
        width: 699px;
    }

    @include desktop {
        width: 890px;
    }


}

.details-head {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 40px;

}

.details-meat {
    @include tablet {
        width: 162px;
        height: 270px;
    }

    @include desktop {
        width: 270px;
        height: 270px;
    }
}

.details-dish {
    width: 80px;
    height: 270px;
    overflow: hidden;

    @include tablet {
        width: 162px;
        height: 270px;
    }

    @include desktop {
        width: 162px;
        height: 270px;
    }
}

.details-bowl {
    width: 274px;
    height: 270px;

    @include tablet {
        width: 270px;
        height: 270px;
    }

    @include desktop {
        width: 270px;
        height: 270px;
    }
}

.btn-light.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}