.logo {
  font-family: var(--logo-fonts);
    font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 69px;
letter-spacing: 0.3em;
color: #FFFFFF;
text-transform: uppercase;
margin-bottom: 16px;
margin-right: 0;
}

h2 {
    font-family: var(--primary-fonts);
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 8px;
}

.img {
    height: 270px;
    max-width: 270px;
}

.hotel-details-text {
    font-family: var(--secondary-fonts);
    max-width: 595px;
    font-weight: 600;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;
color: var(--color-text-gray);


}

.hotel-details {
    padding: 48px 52px;
    background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.65)), url(../images/mobile/homepage/hotel-hero-2x-mob.jpg); 
  @include tablet {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.65)), url(../images/tablet/homepage/hotel-hero-2x-tab.jpg);
  }
   @include desktop {
    display: flex;
    flex-direction: row;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.65)), url(../images/desktop/homepage/hotel-hero-2x.jpg);
  }
  
}

.slick-slider .slick-track, 
.slick-slider .slick-list  {
   display: flex;
  
    @include mobile {
      gap: 20px;
    }
  
    @include tablet {
     gap: 34px;
    }

    @include desktop {
     gap: 86px;
    }
}


.button-set {
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: flex-end;
    @include tablet{
     width: 231px;
    }
    @include desktop{
    width: 286px;
    }
    @include mobile {
      margin-top: 80px;
      align-items: center;
      text-align: center;
    }
  
}

.hotel-details-box {
display: flex;
flex-direction: column;
gap: 16px;
@include tablet {
  width: 699px;
}
@include desktop {
  width: 890px;
}


}

.details-head {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 40px;
    
}

.details-reception {
@include tablet {
width: 162px;
  height: 270px;
}
@include desktop {
width: 270px;
  height: 270px;
}
}

.details-breakfast {
width: 80px;
height: 270px;
overflow: hidden;
@include tablet {
  width: 162px;
  height: 270px;
}
@include desktop {
  width: 162px;
  height: 270px;
}
}

.details-hotel-room {
  width: 274px;
  height: 270px;

  @include tablet {
  width: 270px;
  height: 270px;
}
@include desktop {
  width: 270px;
  height: 270px;
}
}


.btn-light.link {
text-decoration: none;
display: flex;
align-items: center;
justify-content: center;
}


.slick-list {
  overflow: hidden;
}

.slick-track{
  display: flex;
  align-items: flex-start;
}
.slider {
  position: relative;
  padding: 0px 32px;
}


.slick-next.slick-arrow,
.slick-next.slick-arrow {
  display: none;
}

.slider .slick-arrow{
  position: absolute;
  top: 100%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 17px;
  margin-top: 32px;
}
.slider .slick-prev.slick-arrow {
  left: 85%;
  background: url("/src/images/slick/cil_arrow-left.svg") 0 0 / 100% no-repeat;
}
.slider .slick-next.slick-arrow {
  right: 5%;
  background: url("/src/images/slick/cil_arrow-right.svg") 0 0 / 100% no-repeat;
}
.slider-item {
  right: 0;
}





