.main-hero {
  max-width: 100%;
  height: 740px;
  margin-top: -143px;
  text-align: center;
  padding-top: 181px;
  padding-bottom: 21px;

  outline: 1px solid black;
  background-image: var(--gradient),
    url(..//..//../images/mobile/homepage/main-hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: var(--gradient),
      url(..//..//../images/mobile/homepage/main-hero-2x-mob.jpg);
  }

  @include tablet {
    margin-top: -100px;
    background-image: var(--gradient),
      url(..//..//../images/tablet/homepage/main-hero-tab.jpg);
    height: 720px;
    @include retina {
      background-image: var(--gradient),
        url(..//..//../images/tablet/homepage/main-hero-2x-tab.jpg);
    }
  }

  @include desktop {
    background-image: var(--gradient),
      url(..//..//../images/desktop/homepage/main-hero.jpg);

    @include retina {
      background-image: var(--gradient),
        url(..//..//../images/desktop/homepage/main-hero-2x.jpg);
    }
  }
}

.main-hero__title {
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 96px;
  line-height: calc(103 / 96);
  letter-spacing: 0.3em;
  color: var(--color-text-light);

  text-transform: uppercase;

  margin-bottom: 24px;

  @include tablet {
    font-size: 128px;
    line-height: calc(138 / 128);
  }
}

.main-hero__undertitile {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.02em;
  color: var(--color-text-light);

  margin-bottom: 40px;

  @include tablet {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.main-hero__text {
  font-family: var(--secondary-fonts);
  font-weight: 700;
  font-size: 32px;
  line-height: calc(37 / 32);
  letter-spacing: 0.05em;
  color: var(--color-text-light);

  margin-bottom: 113px;

  @include tablet {
    font-size: 36px;
    line-height: calc(41 / 36);
  }
}

.main-hero__list {
  display: flex;
  gap: 23px;
  margin-left: 15px;
  position: absolute;
  bottom: 2%;

  @include tablet {
    margin-left: 48px;
  }
  @include desktop {
    padding-top: 0;
    display: none;
  }
}

.main-hero__adress {
  padding-top: 0;
  display: none;

  @include tablet {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 8px 6px;
    width: 285px;
    height: 56px;
    margin-left: 48px;

    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;

    font-family: var(--primary-fonts);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.01em;
    color: var(--color-text-address);
  }
}

.header-icon-check {
  margin-right: 16px;
  margin-left: 16px;
}

.hero__btn {
  @include tablet {
    margin-bottom: 64px;
  }
}
