<section class="hotel-hero container">
  <h1 class="hotel-hero__title animate__animated animate__fadeIn">Mimiho</h1>
  <h2 class="hotel-hero__undertitile">Готель</h2>
  <div class="tablet-wrap">
    <div class="btn-wrap">
      <button
        class="btn-light hotel-hero__btn"
        type="button"
        data-modal-book-table-open
      >
        Забронювати столик
      </button>
      <button
        class="btn-light hotel-hero__btn"
        type="button"
        data-modal-book-room-open
      >
        Забронювати номер
      </button>
    </div>
    <a
      href="https://goo.gl/maps/LaFmuFMGUwHTDL4Q6"
      class="hotel-hero__adress link"
      ><svg class="header-icon-check" width="24" height="24">
        <use href="./images/icons.svg#icon-location"></use>
      </svg>
      Україна, м. Полтава, вул. Маршала Бірюзова, 15</a
    >
  </div>
  <ul class="hotel-hero__list list">
    <li class="hotel-hero__item">
      <a
        class="hotel-hero__link"
        href="#"
        target="_blank"
        rel="noonepener noreferrer nofollow"
        ><svg class="hero__icon" width="22" height="22">
          <use href="./images/icons.svg#icon-instagram"></use></svg
      ></a>
    </li>
    <li class="hotel-hero__item">
      <a
        class="hotel-hero__link"
        href="#"
        target="_blank"
        rel="noonepener noreferrer nofollow"
        ><svg class="hero__icon" width="22" height="22">
          <use href="./images/icons.svg#icon-facebook"></use></svg
      ></a>
    </li>
    <li class="hotel-hero__item">
      <a
        class="hotel-hero__link"
        href="#"
        target="_blank"
        rel="noonepener noreferrer nofollow"
        ><svg class="hero__icon" width="24" height="24">
          <use href="./images/icons.svg#icon-telegram"></use></svg
      ></a>
    </li>
  </ul>
</section>
