<section class="room-luxe-for-two">
  <div class="container luxe-room-container">
    <p class="brand-pretitle">Amet minim mollit non</p>
    <h2 class="brand-title">MIMIHO</h2>
    <h2 class="hotel-section-title">ДВОМІСНИЙ НОМЕР люкс</h2>
    <p class="room-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="appartment-image">
      <picture class="apartment-picture-set">
        <source
          srcset="
            ./images/desktop/hotel/modern-apartment-with-bedroom.jpg,
            ./images/desktop/hotel/modern-apartment-with-bedroom-2x.jpg
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/hotel/modern-apartment-with-bedroom-tab.jpg,
            ./images/tablet/hotel/modern-apartment-with-bedroom-2x-tab.jpg
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/mobile/hotel/modern-apartment-with-bedroom-mob.jpg,
            ./images/mobile/hotel/modern-apartment-with-bedroom-2x-mob.jpg
          "
          media="(min-width: 414px)"
        />
        <img
          class="appartment"
          src="./images/desktop/hotel/modern-apartment-with-bedroom.jpg"
          alt="studio appartment"
          width="460"
        />
      </picture>
    </div>
    <div class="slider-wrap">
      <div class="slider"></div>
      <ul class="button-set list">
        <li class="button-item">
          <a class="btn-dark btn-detail link" href="./room.html">Детальніше</a>
        </li>
        <li class="button-item">
          <button class="btn-dark btn-price" type="button">
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
