<section class="room-for-two left-oriented">
  <div class="container room-for-two-container">
    <p class="brand-pretitle">Amet minim mollit non</p>
    <p class="brand-title">Mimino</p>
    <h2 class="hotel-section-title">Двомісний номер <span>люкс</span></h2>
    <p class="room-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="appartment-image">
      <picture class="apartment-picture-set">
        <source
          srcset="
            ./images/desktop/hotel/modern-apartment-with-bedroom.jpg,
            ./images/desktop/hotel/modern-apartment-with-bedroom-2x.jpg
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/hotel/modern-apartment-with-bedroom-tab.jpg,
            ./images/tablet/hotel/modern-apartment-with-bedroom-2x-tab.jpg
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/mobile/hotel/modern-apartment-with-bedroom-mob.jpg,
            ./images/mobile/hotel/modern-apartment-with-bedroom-2x-mob.jpg
          "
          media="(min-width: 414px)"
        />
        <img
          class="appartment"
          src="./images/desktop/hotel/modern-apartment-with-bedroom.jpg"
          alt="studio appartment"
          width="460"
        />
      </picture>
    </div>
    <div class="slider-wrap">
      <div class="multiple-items">
        <div class="subdiv">
          <div class="slider-item">
            <img
              class="slider-room"
              src="./images/mobile/sliders/beathroom-mob.jpg"
              alt="studio appartment"
              width="254"
              height="254"
            />
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <img
              class="slider-room"
              src="./images/mobile/sliders/beauty-mob.jpg"
              alt="studio appartment"
              width="254"
              height="254"
            />
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <img
              class="slider-room"
              src="./images/mobile/sliders/black-sofa-mob.jpg"
              alt="studio appartment"
              width="254"
              height="254"
            />
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <img
              class="slider-room"
              src="./images/mobile/sliders/bowl-mob.jpg"
              alt="studio appartment"
              width="254"
              height="254"
            />
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <img
              class="slider-room"
              src="./images/mobile/sliders/cream-mob.jpg"
              alt="studio appartment"
              width="254"
              height="254"
            />
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <img
              class="slider-room"
              src="./images/mobile/sliders/livin-room-mob.jpg"
              alt="studio appartment"
              width="254"
              height="254"
            />
          </div>
        </div>
      </div>
      <ul class="button-set list">
        <li class="button-item">
          <a class="btn-dark btn-detail link" href="./room.html">Детальніше</a>
        </li>
        <li class="button-item">
          <button class="btn-dark btn-price" type="button">
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
