<section class="section triple-room">
  <div class="container outline">
    <p class="pre-title right-pretitle">Amet minim mollit non</p>
    <h2 class="title-logo">MIMIHO</h2>
    <h3 class="room-title">ТРЬОХМІСНИЙ НОМЕР</h3>
    <p class="room-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <picture>
      <source
        srcset="
          ./images/desktop/hotel/modern-apartment-with-bedroom.jpg,
          ./images/desktop/hotel/modern-apartment-with-bedroom-2x.jpg
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/tablet/hotel/modern-apartment-with-bedroom-tab.jpg,
          ./images/tablet/hotel/modern-apartment-with-bedroom-2x-tab.jpg
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/mobile/hotel/modern-apartment-with-bedroom-mob.jpg,
          ./images/mobile/hotel/modern-apartment-with-bedroom-2x-mob.jpg
        "
        media="(min-width: 320px)"
      />
      <img
        class="appartment"
        src="./images/desktop/hotel/modern-apartment-with-bedroom.jpg"
        alt="studio appartment"
        width="244"
        height="322"
      />
    </picture>
    <!-- <div class="slider">
      <img class="slide" src="#" alt="bathroom" width="194" height="194" />
      <img class="slide" src="#" alt="cup of tea" width="194" height="194" />
    </div> -->
    <div class="your-class">
      <div>
        <img class="slide" src="#" alt="bathroom" width="194" height="194" />
      </div>
      <div>
        <img class="slide" src="#" alt="cup of tea" width="194" height="194" />
      </div>
      <div>
        <img class="slide" src="#" alt="bathroom" width="194" height="194" />
      </div>
    </div>
    <ul class="button-set list">
      <li class="button-item">
        <button class="button" type="button">Детальніше</button>
      </li>
      <li class="button-item">
        <button class="button" type="button">Переглянути ціни</button>
      </li>
    </ul>
  </div>
</section>
