<section class="one-room-for-two container">
   <div class="one-room-for-two-info">
    <h3 class="one-room-for-two-text">Amet minim mollit non</h3>
    <h2 class="one-room-for-two-subtitle">MIMIHO</h2>
    <h1 class="one-room-for-two-title">ДВОМІСНИЙ НОМЕР</h1>
    <p class="one-room-for-two-description">
      Amet minim mollit non deserunt ullamco
      est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. 
      Exercitation veniam consequat sunt nostrud amet.
    </p>
   </div>

   <picture>
    <source
    srcset="
    ./images/modern-apartment-with-bedroom.jpg,
    ./images/modern-apartment-with-bedroom-2x.jpg
    "
    media="(min-width: 1200px)"
    />
    <source
    srcset="
    ./images/modern-apartment-with-bedroom-tab.jpg,
    ./images/modern-apartment-with-bedroom-2x-tab.jpg
    "
    media="(min-width: 768px)"
    />
    <source
    srcset="
    ./images/modern-apartment-with-bedroom-mob.jpg,
    ./images/modern-apartment-with-bedroom-2x-mob.jpg
    "
    media="(min-width: 320px)"
    />
    <img

    src="./images/modern-apartment-with-bedroom.jpg"
    alt="apartment with bedroom"
    width="450"
  />
  </picture>



  
<button type="button">Детальніше</button>
<button type="button">Переглянути ціни</button>


</section>

