<section class="one-room-for-two container">
  <div class="room-for-two-top">
   <div class="one-room-for-two-info">
    <h3 class="one-room-for-two-text">Amet minim mollit non</h3>
    <h2 class="one-room-for-two-subtitle">MIMIHO</h2>
    <h1 class="one-room-for-two-title">ДВОМІСНИЙ НОМЕР</h1>
    <p class="one-room-for-two-description">
      Amet minim mollit non deserunt ullamco
      est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. 
      Exercitation veniam consequat sunt nostrud amet.
    </p>
   </div>

   <picture class="pict-room-for-two">
    <source
    srcset="
    ./images/modern-apartment-with-bedroom.jpg,
    ./images/modern-apartment-with-bedroom-2x.jpg
    "
    media="(min-width: 1280px)"
    />
    <source
    srcset="
    ./images/modern-apartment-with-bedroom-tab.jpg,
    ./images/modern-apartment-with-bedroom-2x-tab.jpg
    "
    media="(min-width: 1024px)"
    />
    <source
    srcset="
    ./images/modern-apartment-with-bedroom-mob.jpg,
    ./images/modern-apartment-with-bedroom-2x-mob.jpg
    "
    media="(min-width: 414px)"
    />

    <img class="photo-room-for-two"
    src="./images/modern-apartment-with-bedroom.jpg"
    alt="apartment with bedroom"
  />
  </picture>
</div>

<div class="room-for-two-down">

  <div class="one-time-no">
    <div>
      <img
        class="slic"
        src="./images/bathroom-elements-self-care-mob.jpg"
        alt="bathroom elements"
       
      />
    </div>
    <div>
      <img
        class="slic"
        src="./images/cup-tea-mob.jpg"
        alt="cup of tea"
        width="194"
        height="194"
      />
    </div>
  </div>

<ul class="two-arrow list">
<li>
    <svg class="arrow-icon" width="32" height="32">
    <use href="./images/icon-defs.svg#icon-cil_arrow-left"></use>
    </svg>
</li>

<li>
    <svg class="arrow-icon" width="32" height="32">
    <use href="./images/icon-defs.svg#icon-cil_arrow-right"></use>
    </svg>
</li>
</ul>

<ul class="two-button list">
<li><button type="button" class="btn-dark">Переглянути ціни</button></li>
<li>  <button type="button" class="btn-dark">Детальніше</button></li>

</ul> 

</div>

<ul class="two-arrow-desktop list">
  <li>
      <svg class="arrow-icon" width="32" height="32">
      <use href="./images/icon-defs.svg#icon-cil_arrow-left"></use>
      </svg>
  </li>
  
  <li>
      <svg class="arrow-icon" width="32" height="32">
      <use href="./images/icon-defs.svg#icon-cil_arrow-right"></use>
      </svg>
  </li>
  </ul>

</section>

