<section class="section triple-room">
  <div class="container">
    <p class="pre-title right-pretitle">Amet minim mollit non</p>
    <h2 class="title-logo">MIMIHO</h2>
    <h3 class="room-title">ТРЬОХМІСНИЙ НОМЕР</h3>
    <p class="room-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <img
      class="appartment"
      src="#"
      alt="studio appartment"
      width="400"
      height="524"
    />
    <img class="slide" src="#" alt="bathroom" width="194" height="194" />
    <img class="slide" src="#" alt="cup of tea" width="194" height="194" />
    <button type="button">Детальніше</button>
    <button type="button">Переглянути ціни</button>
  </div>
</section>
