<section class="section triple-room">
  <div class="container container-triple-room">
    <p class="additional-title right-addtitle">Amet minim mollit non</p>
    <p class="title-logo">Mimino</p>
    <h2 class="room-title">Трьохмісний номер</h2>
    <p class="room-description">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <div class="appartment-image">
      <picture>
        <source
          srcset="
            ./images/desktop/hotel/modern-apartment-with-bedroom.jpg,
            ./images/desktop/hotel/modern-apartment-with-bedroom-2x.jpg
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/tablet/hotel/modern-apartment-with-bedroom-tab.jpg,
            ./images/tablet/hotel/modern-apartment-with-bedroom-2x-tab.jpg
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/mobile/hotel/modern-apartment-with-bedroom-mob.jpg,
            ./images/mobile/hotel/modern-apartment-with-bedroom-2x-mob.jpg
          "
          media="(min-width: 414px)"
        />
        <img
          class="appartment"
          src="./images/mobile/hotel/modern-apartment-with-bedroom-mob.jpg"
          alt="studio appartment"
          width="460"
        />
      </picture>
    </div>
    <div class="slider-wrap">
      <div class="multiple-items">
        <div class="subdiv">
          <div class="slider-item">
            <picture class="slider-picture-set">
              <source
                srcset="
                  ./images/desktop/hotel/bathroom-elements-self-care.jpg,
                  ./images/desktop/hotel/bathroom-elements-self-care-2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/hotel/bathroom-elements-self-care-tab.jpg,
                  ./images/tablet/hotel/bathroom-elements-self-care-2x-tab.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/hotel/bathroom-elements-self-care-mob.jpg,
                  ./images/mobile/hotel/bathroom-elements-self-care-2x-mob.jpg
                "
                media="(min-width: 414px)"
              />
              <img
                class="appartment"
                src="./images/mobile/hotel/bathroom-elements-self-care-mob.jpg"
                alt="studio appartment"
                width="254"
                height="254"
              />
            </picture>
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <picture class="slider-picture-set">
              <source
                srcset="
                  ./images/desktop/hotel/cup-tea.jpg,
                  ./images/desktop/hotel/cup-tea-2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/hotel/cup-tea-tab.jpg,
                  ./images/tablet/hotel/cup-tea-2x-tab.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/hotel/cup-tea-mob.jpg,
                  ./images/mobile/hotel/cup-tea-2x-mob.jpg
                "
                media="(min-width: 414px)"
              />
              <img
                class="appartment"
                src="./images/mobile/hotel/cup-tea-mob.jpg"
                alt="studio appartment"
                width="254"
                height="254"
              />
            </picture>
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <picture class="slider-picture-set">
              <source
                srcset="
                  ./images/desktop/sliders/beathroom.jpg,
                  ./images/desktop/sliders/beathroom-2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/sliders/beathroom-tab.jpg,
                  ./images/tablet/sliders/beathroom-2x-tab.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/sliders/beathroom-mob.jpg,
                  ./images/mobile/sliders/beathroom-2x-mob.jpg
                "
                media="(min-width: 414px)"
              />
              <img
                class="appartment"
                src="./images/mobile/sliders/beathroom-mob.jpg"
                alt="studio appartment"
                width="254"
                height="254"
              />
            </picture>
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <picture class="slider-picture-set">
              <source
                srcset="
                  ./images/desktop/sliders/bowl.jpg,
                  ./images/desktop/sliders/bowl-2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/sliders/bowl-tab.jpg,
                  ./images/tablet/sliders/bowl-2x-tab.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/sliders/bowl-mob.jpg,
                  ./images/mobile/sliders/bowl-2x-mob.jpg
                "
                media="(min-width: 414px)"
              />
              <img
                class="appartment"
                src="./images/mobile/sliders/bowl-mob.jpg"
                alt="studio appartment"
                width="254"
                height="254"
              />
            </picture>
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <picture class="slider-picture-set">
              <source
                srcset="
                  ./images/desktop/sliders/cream.jpg,
                  ./images/desktop/sliders/cream-2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/sliders/cream-tab.jpg,
                  ./images/tablet/sliders/cream-2x-tab.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/sliders/cream-mob.jpg,
                  ./images/mobile/sliders/cream-2x-mob.jpg
                "
                media="(min-width: 414px)"
              />
              <img
                class="appartment"
                src="./images/mobile/sliders/cream-mob.jpg"
                alt="studio appartment"
                width="254"
                height="254"
              />
            </picture>
          </div>
        </div>
        <div class="subdiv">
          <div class="slider-item">
            <picture class="slider-picture-set">
              <source
                srcset="
                  ./images/desktop/sliders/black-sofa.jpg,
                  ./images/desktop/sliders/black-sofa-2x.jpg
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/tablet/sliders/black-sofa-tab.jpg,
                  ./images/tablet/sliders/black-sofa-2x-tab.jpg
                "
                media="(min-width: 1024px)"
              />
              <source
                srcset="
                  ./images/mobile/sliders/black-sofa-mob.jpg,
                  ./images/mobile/sliders/black-sofa-2x-mob.jpg
                "
                media="(min-width: 414px)"
              />
              <img
                class="appartment"
                src="./images/mobile/sliders/black-sofa-mob.jpg"
                alt="studio appartment"
                width="254"
                height="254"
              />
            </picture>
          </div>
        </div>
      </div>

      <ul class="button-set list">
        <li class="button-item">
          <a class="btn-dark btn-detail link" href="./room.html">Детальніше</a>
        </li>
        <li class="button-item">
          <button
            class="btn-dark btn-price"
            type="button"
            data-modal-room-price-open
          >
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
