.footer {
  background-color: var(--footer-bg-color);
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.footer-container {
  display: flex;
  justify-content: space-around;
}
.logo-link {
  display: flex;
  align-items: center;
}
.logo {
  font-family: var(--logo-fonts);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--color-text-accent);
  @include mobile {
    font-size: 40px;
  }
  @include tablet {
    font-size: 64px;
  }
}
.footer-wrap {
  display: flex;
  flex-direction: column;
  @include tablet {
    display: contents;
  }
}
.nav-footer-list {
  position: relative;
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-bottom: 32px;
  // @include tablet {
  //   &::after {
  //     content: '';
  //     min-width: 475px;
  //     height: 1px;
  //     background-color: rgba(122, 122, 122, 0.4);
  //     position: absolute;
  //     right: -135px;
  //     filter: blur(0.5px);
  //     transform: rotate(90deg);
  //   }
  // }
}
.menu-link {
  font-family: var(--primary-fonts);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text-accent);
}
.soc-list {
  position: relative;
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  @include tablet {
    flex-direction: column;
    gap: 12px;
    // &::after {
    //     content: '';
    //     min-width: 475px;
    //     height: 1px;
    //     background-color: rgba(122, 122, 122, 0.4);
    //     position: absolute;
    //     right: -85px;
    //     filter: blur(0.5px);
    //     transform: rotate(90deg);
    //   }
  }
}
.soc-text {
  display: none;
  @include tablet {
    font-family: var(--primary-fonts);
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--color-text-accent);
  }
}
.soc-link {
  @include tablet {
    width: 143px;
    border: 0.5px solid var(--color-text-accent);
    border-radius: 2px;
    padding: 7px 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
